[2014-07-01 16:49] iandanforth opened #3 "There should be no variation between results on OSX and EC2"
As a reproducible case:

python run_anomaly.py --inputFile data/artificialWithAnomaly/art_daily_flatmiddle.csv --detector cla

The results file for that command differs between the two platforms. They should be identical.

[2014-10-21 17:38] breznak opened #17 "Newbie installation problems"
Trying to run NAB, I ran into a problem:

nupic_py27mmm@mmm-U2442:~/nupic/NAB$ python run.py
{'dataDir': 'data',
 'detect': False,
 'detectors': ['numenta'],
 'labelDir': 'labels',
 'numCPUs': None,
 'optimize': False,
 'probationaryPercent': 0.15,
 'profilesPath': 'config/user_profiles.yaml',
 'resultsDir': 'results',
 'score': False,
 'thresholdPath': 'config/threshold_config.yaml'}
Proceed? (y/

[2014-10-23 18:54] subutai opened #22 "Add end to end tests in python"
These tests should replicate the last parts of run_tests.sh. They should output everything to temporary directories and check the results. Then they should explicitly pass or fail.

[2014-10-23 20:41] subutai opened #23 "Add feature to report statistics for each datafile"
Add feature to run.py to report statistics for each datafile as well as aggregates: number of records, number of anomalies, min, max, etc.

[2014-10-23 20:43] subutai opened #24 "Modify aggregate report to add number of missed windows"
Modify aggregate report to add number of windows that were missed. Currently it outputs false negatives as the total number of records, however this value is not used in the scoring function. We only count the number of missed windows.

[2014-10-24 00:18] subutai opened #25 "Detector shouldn't get entire dataset"
Currently detectors get the entire dataset so that min/max can be computed. Instead it should get min/max passed into it. We can put the min/max values in the label files themselves, as another field. Or we could have the Datafile compute it when it reads in a data file.

[2014-10-24 00:45] subutai opened #26 "Label combiner should handle overlapping relaxed windows"
Label combiner should handle overlapping relaxed windows. If two relaxed windows overlap, they should be merged together (per discussion with Jeff).

[2014-10-24 16:03] subutai opened #27 "Need tests for Corpus class"
Need tests for Corpus class

[2014-10-24 16:03] subutai opened #28 "Need tests for CorpusLabel class"
Need tests for CorpusLabel class

[2014-10-24 16:03] subutai opened #29 "Need tests for LabelCombiner class"
Need tests for LabelCombiner class

[2014-10-24 16:03] subutai opened #30 "Need tests for optimizer routines"
Need tests for optimizer routines

[2014-10-24 16:07] subutai opened #31 "scores.csv file needs to have a bit more information"
After running NAB you get a _scores.csv file with some useful information. This file should contain most (if not all) the information needed to manually calculate the score. For example, the fn column contains the total number of records. Instead it should contain the number of anomaly windows that were unlabeled because that is what the score is based on.

[2014-10-24 16:08] subutai opened #32 "Need to add individual label files"
For reference we need to include each human created label file in the labels directory. The ground truth file is constructed from these files. These human files should be versioned in the repository, perhaps under `labels/human_labels/`

[2014-10-24 18:55] subutai opened #33 "Output warning for datafiles that don't have entries in the label file"
Output warning if there are datafiles without any corresponding entries in the label file.  Code should not crash in this case, nor should it silently ignore those files.  After giving the warning the code should just ignore that datafile.

[2014-10-28 22:12] subutai opened #36 "Label combiner should not allow relaxed windows to be in probationary period"
Label combiner should not allow relaxed windows to be in probationary period. If a window creeps into the probationary period, it should get truncated so that no part of the window goes into probationary period.

[2014-11-06 20:46] #27 closed, assigned to simjega

[2014-12-01 17:29] subutai opened #42 "Add new CPU load datafile"
We received a new data file with a real anomaly. Get the file "9f78a90223174506a8ad262b0.csv" from Subutai and add to dataset.

[2014-12-18 01:14] #28 closed, assigned to nobody

[2014-12-31 22:38] BoltzmannBrain opened #49 "Consistent use of JSON"
Need to be consistent using either simplejson or JSON in the nab files. Convention is a try/except clause.

[2015-01-02 18:22] #30 closed

[2015-01-05 23:42] #49 closed

[2015-01-09 18:58] BoltzmannBrain commented on #31
The individual results files -- e.g. 'results/numenta/artificialNoAnomaly/numenta_art_noisy.csv' -- should have the scoring function output for each step in time (i.e. each row). Then we can check the scoring function works as intended.

[2015-01-09 18:59] BoltzmannBrain opened #51 "Use simplejson throughout"
Should be using simplejson rather than json for faster loading/dumping. Not significant now with such small json files, but can only help when they grow -- more user profiles.

[2015-01-09 19:03] BoltzmannBrain opened #52 "Cleanup needed"
Cleaning up the code throughout NAB is needed. This includes, but not limited to:
- Consistent use of variable names and labels
- Remove unnecessary code
- CSV files -- column headers, names
- Comments

[2015-01-09 19:04] BoltzmannBrain opened #53 "Tests needed for scoring function"
Should have separate unit tests just for validating the scoring function.

[2015-01-09 19:07] BoltzmannBrain opened #54 "More user profiles needed"
Currently we only have the standard profile, where all metrics (TP, FP, FN) are set to 1. There should be at least two more -- cover Type I and Type II errors.

[2015-01-09 19:25] BoltzmannBrain opened #55 "Include F1 score metric"
F1 score is regarded the standard metric for evaluating algorithms. It would be nice to have nab calculate this as well.

[2015-01-09 19:38] BoltzmannBrain commented on #31
Also included in PR#56, relevant to this issue, is a row at the bottom of the detector results file for totals -- i.e. totaling the results for all datasets.

[2015-01-09 23:04] subutai commented on #55
I think this is low priority.

[2015-01-09 23:05] subutai commented on #54
Good idea.

[2015-01-09 23:06] subutai commented on #51
I think we just switched from simplejson back to json didn't we? simplejson requires an external library. Not sure there's any need to optimize our json usage.

[2015-01-09 23:07] BoltzmannBrain commented on #55
Agreed, but just making the issue so I can work on it down the road after the main nab steps.

[2015-01-09 23:28] BoltzmannBrain commented on #51
Oh I'm sorry I thought we wanted to use the try/except for simplejson. And simplejson is in the requirements.txt. Should I change nab back to using json?

[2015-01-11 16:58] #52 closed

[2015-01-11 16:58] #31 closed

[2015-01-12 21:34] BoltzmannBrain opened #57 "Need a better organization for label files"
Need an organized directory for the labels files, including a naming convention for the individual labelers.

[2015-01-14 17:55] subutai commented on #51
I actually don't remember now which way it went. I remember us trying to switch from one to the other and it just seems like a waste of time.

[2015-01-14 17:56] #51 closed

[2015-01-15 05:54] BoltzmannBrain opened #59 "Relaxed windows overlapping"
We need a means of both defining anomaly windows and calculating the subsequent relaxed windows such that the relaxed windows do not overlap.

[2015-01-19 19:11] #57 closed

[2015-01-19 19:28] BoltzmannBrain opened #61 "For combining labels, need a buffer for anomaly start times"
Anomalies that differ by a few time steps should not be thrown away when combining labels, but a requirement is then a ground truth start time must be determined.

[2015-01-22 20:34] BoltzmannBrain opened #63 "run.py doesn't cover all detectors"
Running run.py only uses the Numenta detector, but should include the Skyline and random detectors too.

[2015-01-22 22:58] #59 closed

[2015-01-22 23:04] #61 closed

[2015-01-22 23:10] BoltzmannBrain commented on #26
Fixed w/ PR#62

[2015-01-22 23:10] #26 closed

[2015-01-22 23:19] subutai commented on #63
Isn't it just a command line option to run the others? Or do you mean what run.py does by default?

[2015-01-22 23:28] BoltzmannBrain commented on #63
It should by default, as specified in the readme.

[2015-01-22 23:30] #54 closed

[2015-01-22 23:31] BoltzmannBrain commented on #32
Closed under issue #57

[2015-01-22 23:31] #32 closed

[2015-01-22 23:32] BoltzmannBrain commented on #29
corpuslabel_test.py

[2015-01-22 23:32] #29 closed

[2015-01-24 17:05] BoltzmannBrain opened #68 "Better command line UX"
Users should be able to easily set parameters, particularly which individual detectors and profiles to run because they take a while. They can do this manually in the code, but it would be much better from command line (with supporting instructions and examples in the readme).

[2015-01-25 17:46] subutai commented on #68
How is this different from existing options such as `profilesFile`?

[2015-01-25 18:03] BoltzmannBrain commented on #68
I was trying to think of how NAB can be simpler (more accessible) to new users. You're right, I was not aware the user could change the arguments from the command line. However it's not explicitly stated anywhere how to do this. Do you think we need to explain these options? If so, should the details be in the readme or the writeup?

[2015-01-25 18:09] subutai commented on #68
If you do run.py --help it provides a nice description of all the options. This is similar to most Unix commands. We can put that note in the README.

[2015-01-25 19:29] subutai commented on #63
Is this issue complete? It's still open.

[2015-01-25 19:30] #68 closed

[2015-01-25 19:41] #63 closed

[2015-01-29 19:09] BoltzmannBrain commented on #17
@subutai good to close?

[2015-01-29 19:11] subutai commented on #17
Yup!

[2015-01-29 19:15] BoltzmannBrain opened #71 "Add customer data"
*This is a subtask of #132*
Pull some examples of customer data and add to NAB (needs to be hand labeled as well).

[2015-01-29 19:18] BoltzmannBrain opened #72 "Scoreboard"
Need to have a scoreboard of detector results posted.

[2015-01-29 19:22] BoltzmannBrain opened #73 "Description for adding a detector to test"
Add to the writeup instructions (flowchart, diagram) as to how a new detector can be added to NAB -- the three methods.
The readme should point to this diagram.

[2015-01-29 19:33] BoltzmannBrain opened #74 "Final writeup and labeling instructions"
The wiki should have the final versions of the NAB writeup and labeling instructions docs.

[2015-01-29 19:34] BoltzmannBrain opened #75 "Test repo installation"
Need to test new installation of the NAB repo, and update readme accordingly.

[2015-01-29 19:36] #17 closed

[2015-01-29 20:19] BoltzmannBrain commented on #23
Maybe the stats could be written to a new file 'data/stats.csv'. The file would include the corpus totals for these values, giving us a way to show the max possible NAB score.

[2015-01-30 23:01] BoltzmannBrain opened #76 "Data analysis tools"
Plotting the anomaly detection results is helpful for debugging, and could also be included in a "NAB Data Analysis" section of the repo, along with the data visualizer. The visualizer does give results plots, but they're not very intuitive (confusing) and not too useful (don't show the ground truth windows).

[2015-01-31 04:40] subutai commented on #76
@BoltzmannBrain The visualizer can plot results.

[2015-01-31 16:39] BoltzmannBrain commented on #76
@subutai thanks, I did not think of that. But now that I'm trying it I see it's not working properly; I don't see any results plots. Will you try the visualizer and see if you have the same issue?

[2015-02-04 13:40] BoltzmannBrain opened #77 "Incorporate larger windows"
Larger window sizes (>10%) are preferred, and windows centered about the true anomaly. This is to reward early detection, even if humans can't see the anomaly visually, and still reward late detection b/c it's better to identify an anomaly late rather than not at all.

[2015-02-04 13:42] BoltzmannBrain opened #78 "Merge overlapping windows"
If combined labels overlap, merge them into one anomaly. Justification is (i) multiple anomalies don't occur in the same window, and (ii) although anomalies close together in time may appear distinct, they're likely(?) correlated.

[2015-02-04 13:45] BoltzmannBrain opened #79 "Adjust labels for "known cause" data files"
For the data files which we know the anomaly cause(s, we should manually label the windows. This manual labeling should also be noted in the writeup.

[2015-02-04 13:47] BoltzmannBrain opened #80 "Identify raw labels that don't make it into combined labels"
For debugging the labeler, it would be helpful to print out the raw labels that do not qualify (beat the threshold) for the combined labels.

[2015-02-04 23:22] BoltzmannBrain opened #83 "Normalize scores"
Scale/normalize the final scores such that adding files to the corpus will not (necessarily) decrease the scores, i.e. appear worse. E.g. the current best DUT may have a NAB score of -7, and then with a new datafile added to the corpus, score a -8, and appear to be performing worse.

We may also want to modify the scoring profiles such that a perfect TP detection actually yields a 1; currently it

[2015-02-05 17:23] subutai commented on #83
This is a good idea but I don't think it's necessary for the Private Beta milestone.

[2015-02-05 17:38] BoltzmannBrain commented on #83
OK.
What do you think about the 2nd part of the issue -- scaling the TP scores? Two possible alternatives for doing this are to reward a TP with a score of 1 if the detection is at either (i) the very front of the window, or (ii) at the middle of the window; the middle of the window is the timestamp of the ground truth TP. For (ii), a detection preceding the middle of the window would yield a scor

[2015-02-05 17:42] subutai commented on #83
I am fine with scaling the TP scores. Not sure we should make the max score > 1 - that is basically the same problem as having the max score be < 1. Scaling it to 1 seems simplest and cleanest to explain.

[2015-02-05 22:15] #80 closed

[2015-02-05 22:15] #78 closed

[2015-02-07 23:12] BoltzmannBrain commented on #73
Entry Points diagram posted in wiki.

[2015-02-07 23:12] #73 closed

[2015-02-07 23:13] BoltzmannBrain commented on #77
PR#82 increased the window size to 10% of datafile length, but this issue remains open b/c we may want to increase this further. Downgrading to P3, however.

[2015-02-11 01:41] #79 closed

[2015-02-11 17:20] BoltzmannBrain opened #91 "Add results"
The results directory in the repo is empty. Once we have finalized scoring, this should be populated with results for the three detectors and three profiles.

[2015-02-11 19:49] BoltzmannBrain commented on #83
PR#88 scales the scores, and now I'd like to normalize them. I intend to normalize for the the number of data points, rather than the number of data files, because the lengths of data files vary. @subutai do you think the normalization should be reflected throughout NAB scoring, or separately for scoreboard purposes only?

[2015-02-11 19:52] BoltzmannBrain opened #93 "Setting parameters for specific profiles"
We may wish to set Numenta detector parameters specific to scoring profiles.

[2015-02-11 19:55] BoltzmannBrain opened #94 "Scoreboard breakdown"
Of the detectors posted to the scoreboard, it may be a nice feature to include a breakdown of which do best/worst for the scoring metrics TP, FP, and FN.
Similarly, we may wish to offer several scoreboards, one for  each scoring profile.

[2015-02-12 00:13] BoltzmannBrain opened #95 "Scale FPs"
All FPs are scored against the total, yet only one TP per window is added to the total. While we are estimating x% of a data file is anomalous (i.e. the anomaly windows), and (1-x)% of the data file is normal data, then TPs are limited to x% of the data, while FPs exist in the other (1-x)%. Thus scaling the FPs by 1/x will level out the contributions made to the total score by TPs and FPs. E.g. if

[2015-02-12 00:15] BoltzmannBrain opened #96 "NAB versioning"
Implement a versioning system for NAB. This will regulate NAB updates including additions to the benchmark dataset, the scoreboard, and any code changes.

[2015-02-12 03:21] BoltzmannBrain opened #98 "Adjust probationary period"
Because detectors are getting FPs shortly following the probationary period, investigate a larger probationary period for the effect on scores and on overlapping anomaly windows.

Issues #77 #36 are blockers.

[2015-02-12 16:32] #83 closed

[2015-02-13 00:09] BoltzmannBrain opened #99 "NAB email address"
Create nab@numenta.org contact, as well as mailing list.

[2015-02-13 19:11] BoltzmannBrain opened #100 "Labels overlapping with probationary period"
As of PR #97 checkWindows() in labeler.py deletes a window which overlaps with the probationary period; code for throwing a ValueError is commented out. We should decide between throwing out the overlapping window, throwing out the datafile, or some other means of solving the issue.

Details should be added to the NAB writeup.

[2015-02-13 19:11] #99 closed

[2015-02-14 00:02] BoltzmannBrain opened #101 "Numenta detector parameter optimization"
Test detector performance with parameter optimization -- resolution, averaging window for anomaly likelihood, etc.

Includes #93

[2015-02-20 23:40] BoltzmannBrain commented on #36
Fix in PR#97 raises a ValueError so we can handle each case manually in the function `labeler.removePoorLabels()`.

[2015-02-20 23:40] #36 closed

[2015-02-20 23:42] BoltzmannBrain commented on #77
We've settled on 10% window size (for v0.1, private beta).

[2015-02-20 23:42] #77 closed

[2015-02-20 23:43] BoltzmannBrain commented on #95
For 10% window size, FPs scale to 0.11.

[2015-02-20 23:43] #95 closed

[2015-02-20 23:44] BoltzmannBrain commented on #98
Qualitative investigations show 15% is a good probationary window, and justifiable as 1.5x the anomaly window size.

[2015-02-20 23:44] #98 closed

[2015-02-20 23:44] BoltzmannBrain commented on #100
See closing comment in issue#36.

[2015-02-20 23:44] #100 closed

[2015-02-21 00:38] BoltzmannBrain commented on #96
First version for private beta is v0.1.

[2015-02-21 00:38] #96 closed

[2015-02-21 01:32] BoltzmannBrain opened #103 "Shouldn't need NuPIC"
The readme specifies NuPIC is only needed if running the Numenta detector, yet run.py always runs `from nab.detectors.numenta.numenta_detector import NumentaDetector`, which imports from NuPIC.

[2015-02-21 04:03] BoltzmannBrain commented on #75
Following the install and run instructions in the readme works as expected.

[2015-02-21 04:03] #75 closed

[2015-02-21 17:38] subutai commented on #103
Is this critical? We can also change the readme :)

[2015-02-21 17:47] BoltzmannBrain commented on #103
Not critical, definitely post-beta launch, but it may be better to allow users to run NAB w/o NuPIC. For now we can change the readme, and consider revising the code down the road?

[2015-02-22 01:07] subutai commented on #103
Sounds good.

[2015-02-22 01:07] subutai commented on #75
Great!

[2015-02-23 23:55] BoltzmannBrain opened #106 "Debugging the Numenta detector"
The Numenta detector picks up two FPs in "artificialWithAnomaly/art_increase_spike_density.csv" that are clearly not anomalous. This could be a good file for debugging the detector.

[2015-02-23 23:57] BoltzmannBrain opened #107 "Possibly remove data file"
Because of anomalies close to the probationary period, we may consider removing "realAWSCloudwatch/iio_us-east-1_i-a2eb1cd9_NetworkIn.csv" from the benchmark corpus in the future. For now (NAB v0.1) we're manually setting the windows so they don't overlap the probationary period.

[2015-02-24 04:25] #91 closed

[2015-02-24 04:34] BoltzmannBrain commented on #72
Posted to wiki.

[2015-02-24 04:34] #72 closed

[2015-02-24 04:38] BoltzmannBrain commented on #74
Private beta-ready versions are posted to the wiki.

[2015-02-24 04:38] #74 closed

[2015-02-27 22:45] BoltzmannBrain opened #109 "Tune Skyline parameters"
We may be able to tune Skyline parameters to score better on NAB.

[2015-03-02 19:11] BoltzmannBrain commented on #94
+ a plotly visual for the scoreboard.

[2015-03-02 19:35] BoltzmannBrain commented on #76
We may wish to use plotly for all visualizations; could better enable other users to plot NAB data and results, and in general offers some cool features.

[2015-03-03 21:14] BoltzmannBrain opened #112 "Run NAB on specific data"
Currently the user can specify which data files to run by setting the data directory parameter, but then needs to manually revise the labels file. To run a specific type of data -- e.g. machine data only -- the user would have to manually create a folder of the relevant data files. We should have a command line parameter to allow the user to specify type(s) of data to run -- machine, cpu, artifici

[2015-03-05 03:01] BoltzmannBrain opened #113 "Set minimum file size"
As of NAB v0.8 the minimum file length is 1243.

[2015-03-05 03:04] BoltzmannBrain opened #114 "Probationary period length should not be percentage"
Using a percent of data file length is illogical for a streaming data function -- 15% is 600 data points of a file with length 4000, but 3300 for a file length of 2200. Perhaps we set a minimum file size at 1000 (smallest as of v0.8 is 1243, most are ~4000, see issue #113), and then the probationary period is set at 150 data points, although I anticipate larger is called for.

[2015-03-05 04:02] BoltzmannBrain opened #115 "Run constant detector"
Run a constant detector -- e.g. all anomaly scores =0.5 -- and check the results. The score is expected to be -44.0, for 44 FNs, 0 FPs, and 0 TPs.

[2015-03-05 04:05] BoltzmannBrain opened #116 "Normalize/scale total score"
We should normalize and/or scale the scores so they aren't negative. Alternatively show scores as is, and also with a normalized column.

[2015-03-05 04:06] BoltzmannBrain commented on #94
Jeff mentioned he'd like to see a detailed breakdown for different datasets, with charts; bumping up to P3.

[2015-03-05 15:02] BoltzmannBrain commented on #116
For now (need to review with @subutai) I've scaled the scores by adding 45.0, the logic being the constant detector (assigns e.g. 0.5 for all anomaly scores, see issue #115) is expected to score -45.0. So this scaling uses the constant detector as the baseline.

[2015-03-05 17:41] BoltzmannBrain opened #117 "Create a CI build for NAB that builds NuPIC and runs NAB"
NAB, specifically the Numenta detector, can break with changes to NuPIC. A simple detection test needs to be written and added to the NuPIC build.

[2015-03-05 17:48] rhyolight commented on #117
Better would be to set up a Travis-CI build for NAB that runs every time NuPIC changes.

[2015-03-05 18:18] BoltzmannBrain commented on #117
Okay. I'm unfamiliar with Travis-CI but I'll give it a shot!

[2015-03-05 18:23] rhyolight commented on #117
Not sure it will be easy. I tried setting it up for `nupic.research` builds, but they have been failing. @subutai Recent NuPIC changes have broken NAB. I think it should be important to add a NAB travis build that gets triggered from NuPIC changes, but it would probably be best if I did it. Do you think this is important?

[2015-03-05 18:26] rhyolight commented on #117
BTW, I am `git bisect`ing NuPIC now to find out which commit broke NAB... Will report my findings here.

[2015-03-05 20:19] rhyolight commented on #117
[code]

[2015-03-11 15:41] BoltzmannBrain opened #118 "Update tests"
Because there were many pre-beta changes, the unit and integration tests should be reviewed and updated as necessary.

[2015-03-16 01:51] BoltzmannBrain commented on #118
- update [run_tests.sh](https://github.com/numenta/NAB/blob/master/tests/run_tests.sh)
- reorganize [tests](https://github.com/numenta/NAB/tree/master/tests) into unit and integration folders

[2015-03-18 12:41] BoltzmannBrain commented on #118
@subutai do we need [tests/run_tests.sh](https://github.com/numenta/NAB/blob/master/tests/run_tests.sh)? The Travis CI build, as of now, calls `py.test tests/` to run all the unit and integration tests.

[2015-03-18 17:14] subutai commented on #118
That should be fine. Is there an easy way to run the tests manually?

[2015-03-18 17:16] BoltzmannBrain commented on #118
Just run `py.test` from nab/ or nab/tests/.

[2015-03-18 20:11] BoltzmannBrain commented on #115
The baseline detector returns scores of -44, -22, -88 for application profiles Standard, Reward Low FP, and Reward Low FN, respectively, as expected :)

@subutai do you think the baseline detector should be added to the repo?

[2015-03-19 03:00] BoltzmannBrain opened #123 "Profiles for rewarding FP and FN are down-weighting the FN and FP values, respectively"
In [profiles.json](https://github.com/numenta/NAB/blob/master/config/profiles.json), the profiles up-weighting the FP and FN scores also down-weight the respective counterpart. Is this what we want?

[2015-03-19 20:37] BoltzmannBrain commented on #116
We've decided the score normalization method will be to (i) add the baseline score from the constant detector, and then (ii) divide by the TP weight. This results in a 0-100 score range for each application profile.

[2015-03-19 20:40] BoltzmannBrain commented on #113
For v0.8 we'll set the minimum at 1200; the smallest set is 1243, but it's a real dataset so we are reluctant to throw it out.

[2015-03-19 21:04] rhyolight commented on #117
Working on this, but there seems to be a problem with the latest wheels that were uploaded to S3. I need to deal with that first.

[2015-03-20 03:44] rhyolight commented on #117
[![Build Status](https://travis-ci.org/numenta/NAB.svg?branch=master)](https://travis-ci.org/numenta/NAB)

[2015-03-20 03:44] #117 closed

[2015-03-26 13:19] #118 closed

[2015-03-26 13:20] BoltzmannBrain commented on #115
Baseline detector is to be included in the repo algorithms.

[2015-03-26 13:20] #115 closed

[2015-03-26 13:21] BoltzmannBrain commented on #123
FP and FN profiles should only modify the wights for FP and FN, respectively.

[2015-03-26 13:21] #123 closed

[2015-03-26 13:23] BoltzmannBrain commented on #76
Moving up to P2 b/c better results analyses/visualizations was requested by Jeff.

[2015-03-26 17:44] #116 closed

[2015-03-26 17:46] BoltzmannBrain opened #126 "Add unit tests for score normalization"
New score normalization scheme, per #125, needs unit test coverage.

[2015-04-15 21:25] scottpurdy opened #128 "No spaces in filenames"
I noticed that some filenames have spaces. This is annoying to work with on the command line so we should avoid it. Use underscores or something instead.

Example:

results/numenta/numenta_reward low FP rate_scores.csv

[2015-04-16 20:44] scottpurdy opened #129 "Command line arguments that take lists should use commas"
It looks like the `python run.py -d ...` option takes a space separated list of detector names. Spaces on the command line are annoying so this should be a comma-separated list instead.

[2015-04-19 13:32] BoltzmannBrain opened #130 "Hand label new datafiles"
*This is a subtask of #132*
As we submit new datafiles to NAB they need to go through the hand labeling procedure. Before a batch of data can be pushed to the repo, the label combining process must run without errors.

This is temporarily blocked b/c we may need to redefine the probationary period parameter; #114.

[2015-04-19 14:11] BoltzmannBrain opened #131 "Add data from open databases"
_This is a subtask of #132_
There are several publicly available datasets of time-series data we should screen for adding to NAB:
- [ ] [UCR set of time-series discords](http://www.cs.ucr.edu/~eamonn/discords/) (anomalous data)
- [ ] [UCR Time Series Classification/Clustering database](http://www.cs.ucr.edu/~eamonn/time_series_data/)
- [ ] [Time Series Data Library](https://datamarket.com/data/lis

[2015-04-19 14:12] BoltzmannBrain opened #132 "Add data"
Below are the steps to adding more data during the Private Beta phase:

1. Select time-series data files to be added from several sources:
  - [x] customer data -- #71
  - [ ] time-series data from open databases -- #131
  - [ ] older data, ready to add -- #42
  - [ ] data from outside contributors (specifically for NAB)
  - [ ] data from NuPIC -- #138
  - [x] add'l "mole" data -- #144
2. Label th

[2015-04-19 14:18] BoltzmannBrain commented on #114
Be sure to check #107 after redefining the probationary period.

[2015-04-19 17:24] BoltzmannBrain opened #133 "Bagging the Numenta detector"
Bagging the Numenta detector may improve results.

[2015-04-19 19:26] BoltzmannBrain opened #134 "Investigate Twitter's Anomaly Detector"
We should investigate and understand the [Twitter algorithm](https://github.com/twitter/AnomalyDetection), and run in NAB. There's also data in their repo we may consider adding to the the NAB corpus.

Note: the relevant milestone is "During Beta" b/c we should expect the Twitter algorithm to be brought up at future conferences when discussing NAB.

[2015-04-19 19:35] BoltzmannBrain commented on #42
@subutai could you please send me this data?

*Note: this is a subtask of #132*

[2015-04-21 21:48] BoltzmannBrain opened #137 "FAQ page"
The wiki should include a FAQ page. A good place to start is the ["Nupic or NAB for Apnea Data"](http://lists.numenta.org/pipermail/nupic_lists.numenta.org/2015-April/date.html#10815) mailing list conversation, particularly [this post](http://lists.numenta.org/pipermail/nupic_lists.numenta.org/2015-April/010834.html).

[2015-04-21 23:00] BoltzmannBrain commented on #137
I've started a note sheet to collect FAQs [here](https://www.evernote.com/l/AN1e176exl9PwaPnZ3slTEA9iw5WCPWz3Dw).

[2015-04-22 22:14] BoltzmannBrain opened #138 "Add NuPIC data"
_This is a subtask of #132_
Some of the data for [NuPIC examples](https://github.com/numenta/nupic/tree/master/nupic/datafiles/extra) -- namely hotgym -- should be added to NAB.
@subutai do you think we should ask the NuPIC community if they have data to potentially contribute to NAB? It would be great if they have some known-cause data.

[2015-04-22 22:15] subutai commented on #138
We could - feel free to do that if you want. The issue with hotgym is that it does not have known anomalies as such. We can visually look at it and label it.

[2015-04-22 22:24] BoltzmannBrain commented on #138
Okay, I think I'll consider this again after going through some public datasets. We would have to hand label any data we get anyway, correct?

[2015-04-22 22:26] subutai commented on #138
Yes, but it's a qualitative difference whether it has some actual known anomalies in it vs us just looking visually for anomalies.

[2015-04-22 22:29] BoltzmannBrain commented on #138
Right, then when asking the community I would stipulate we're looking for data with known anomalies.

[2015-04-25 19:40] BoltzmannBrain commented on #71
@sub

[2015-06-02 22:15] subutai commented on #133
@BoltzmannBrain Can you be a bit more specific - what do you mean by "bagging the Numenta detector"? Do you mean using an ensemble of multiple models?

[2015-06-02 22:31] BoltzmannBrain commented on #133
Yes, an ensemble of HTM models, as you did [here](https://github.com/subutai/nupic.subutai/tree/master/ensembles). The NAB scoreboard could reflect both the standard Numenta detector and an ensemble method.

[2015-06-16 16:17] scottpurdy opened #143 "Check NuPIC SHA to ensure score matches scoreboard"
The NuPIC results were computed on March 26th.

1. Find the SHA for the version of NuPIC on March 26th
2. Build that version of NuPIC (making sure to use the associated nupic.core version)
3. Run NAB against that version of NuPIC to ensure the score matches what we have recorded
4. Update the wiki with the SHA, assuming the scores match

Put versions for NAB, NuPIC, and Skyline on the scoreboard:

[2015-06-16 16:17] scottpurdy commented on #143
@subutai @BoltzmannBrain - Is this right?

@tomsilver

[2015-06-16 16:32] subutai commented on #143
Looks good. We need to also run with the March 26 version of NAB and include the NAB SHA in the wiki.

[2015-06-17 15:58] tomsilver commented on #143
After running the NAB version from March 26 with the respective nupic and nupic.core, I got the following scores:

Final score for 'numenta_reward low FN rate' = 77.25
Final score for 'numenta_reward low FP rate' = 66.90
Final score for 'numenta_standard' = 72.69

Which is consistent with what was reported on the scoreboard. Next we will track down the change between March 26 and present that caus

[2015-06-17 17:25] BoltzmannBrain commented on #112
Increasing to P2 because this would aid debugging.

[2015-06-17 17:55] tomsilver commented on #134
@BoltzmannBrain this blog post has a pretty good explanation, and some python: https://warrenmar.wordpress.com/tag/seasonal-hybrid-esd/

We could directly use their R code using http://rpy.sourceforge.net/, which has worked well for me in the past, or we could port it to Python, perhaps using the blog post as a starting point. I would be happy to get started on either one

cc @subutai

[2015-06-17 18:09] BoltzmannBrain commented on #134
I updated the milestone to ICMLA paper because we would like to include the Twitter algorithm in our results.

@scottpurdy please see @tomsilver's comment above.

[2015-06-17 20:53] subutai commented on #134
It is fine to use their R code for now. We just need to reformat the output so it can be input to NAB. NAB was designed with this in mind and there is a specification for that.

[2015-06-17 21:00] scottpurdy commented on #134
Yes, this will be a good validation that it is easy to get externally-generated results into the appropriate format for NAB.

[2015-06-17 21:19] BoltzmannBrain commented on #134
It would also be great to document the process of running the NAB data w/ an external algorithm (i.e. Twitter in R) and following both [NAB entry point paths 1 and 2](https://drive.google.com/a/numenta.com/file/d/0B1_XUjaAXeV3NmxhbEFtZVZ4TmM/view). This would be a helpful example to post to the repo.

[2015-06-17 21:21] tomsilver commented on #134
@BoltzmannBrain shall I give that a try?

@scottpurdy

[2015-06-18 06:39] tomsilver commented on #143
I believe I have tracked down the discrepancy to this nupic commit from April 21 (https://github.com/numenta/nupic/commit/52eec32922fbd1f8a2041b584b09eabe1d8bfe84) in which @scottpurdy added the Anomaly region.

@scottpurdy @BoltzmannBrain @subutai any thoughts on why this change might have led to a decrease in the final NAB scores?

After reverting nupic to this commit (and nupic.core and NAB res

[2015-06-18 07:54] tomsilver commented on #143
Actually I may have spoken too soon - the change might have been a previous commit. Will follow up when I confirm.

[2015-06-18 15:51] BoltzmannBrain opened #144 "Add "mole" data"
*This is a subtask of #132*
@subutai has a "mole" datafile to be added to the dataset.

[2015-06-18 18:59] scottpurdy commented on #143
Yeah that commit wouldn't have affected anything using the CLAModel

[2015-06-26 18:50] BoltzmannBrain commented on #134
@tomsilver is taking this on, and documenting [here](https://github.com/numenta/NAB/wiki/Twitter%20Anomaly%20Detector). For now we'll include the algorithm detections (NAB entry path 3), and later we can add the algorithm (NAB entry path 1) if we choose.

[2015-06-26 23:48] BoltzmannBrain opened #145 "Script to add detectors to thresholds file"
@tomsilver we need an easy way for users to add their custom detector's name(s) into the [thresholds file](https://github.com/numenta/NAB/blob/master/config/thresholds.json). The scoring step needs the detector name to be a key.

[2015-06-28 17:09] #128 closed

[2015-06-28 17:16] BoltzmannBrain commented on #113
Closed by specifying in the documentation -- see Appendix F of the (whitepaper)[https://github.com/numenta/NAB/wiki#nab-whitepaper].

[2015-06-28 17:16] #113 closed

[2015-06-28 19:46] BoltzmannBrain opened #146 "Clean the scripts directory"
The scripts in the scripts directory are from an old version of NAB. Do we still need them? Do they work?

[2015-06-29 16:08] tomsilver commented on #145
@BoltzmannBrain How about a function in scripts/ that takes the name of the new detector (e.g. "twitter") and sets up the thresholds file, and also adds a directory with the detector's name in the results/ directory, populated with the category directories?

I think those were all the things I had to do manually.

[2015-06-29 20:23] BoltzmannBrain commented on #145
@tomsilver good idea! Please include unit testing for this.

[2015-06-30 16:41] BoltzmannBrain opened #150 "Write normalized scores to file"
Currently the normalized scores are only printed to the console. We should write them to a file: results/final_results.json.

[2015-06-30 17:26] BoltzmannBrain commented on #134
@tomsilver we should run the two Twitter algorithm variations independently. If files cannot run for a given alg, they should be scored 0.

[2015-06-30 18:10] tomsilver commented on #143
Update on this: we tracked down the issue to a change on March 30th in which numpy.random was swapped out for NupicRandom in the RandomDistributedScalarEncoder. Further tests revealed that the final score is highly sensitive to the seed of the random number generator. Increasing w from 21 to 31 led to significantly lower variation, but a decrease in final scores. It should be possible to tune the

[2015-06-30 22:05] #150 closed

[2015-07-02 20:57] BoltzmannBrain commented on #145
Closed with #148

[2015-07-02 20:57] #145 closed

[2015-07-03 03:53] #129 closed

[2015-07-03 04:16] BoltzmannBrain opened #155 "Plotting todo"
Address the TODOs in scripts/plot.py.

[2015-07-03 13:35] BoltzmannBrain commented on #146
@tomsilver please take a look

[2015-07-03 15:54] tomsilver commented on #146
@BoltzmannBrain the scripts seem to still work and they may be useful for adding new data or new detectors to NAB. I would recommend revisiting this issue after going through the process of adding new data (e.g. https://github.com/numenta/NAB/issues/144) and also adding a new detector by following Path 1 or 2.

[2015-07-07 23:01] BoltzmannBrain opened #160 "Add Twitter algorithms"
Port the R code to Python and add to NAB detectors.

[2015-07-07 23:02] BoltzmannBrain commented on #134
Closing, with followup in #160.

[2015-07-07 23:02] #134 closed

[2015-07-07 23:31] subutai commented on #160
Do we need to port it? That could be a lot of work with minimal benefits. Can we leave it as R code? It is a nice example of how you can take an external algorithm and get it working with NAB.

[2015-07-08 00:17] BoltzmannBrain commented on #160
I agree; was adding this issue because I thought it was our original plan. I think it's great as is with the documentation in the wiki.

[2015-07-08 00:17] #160 closed

[2015-07-16 05:06] #155 closed

[2015-07-17 22:02] BoltzmannBrain commented on #71
Data we're adding under this issue is Twitter volume and ad click rates. It could be interesting to link the tweet anomalies to news about the respective companies. For the ad click data, more details are below.

These files include data from several real exchanges. The original goal was to predict the cost per click (CPC) or cost per thousand impressions (CPM) but they could be used for anomaly d

[2015-07-23 22:32] BoltzmannBrain commented on #144
The following files are to be labeled: "mole_memory_percent.csv", "mole_network_percent.csv", and "mole_cpu_usage.csv".

The following already have truth labels, which need to be added to "NAB/labels/raw/known_labels_v2.json": "mole_key_hold.csv" and "mole_key_updown_01.csv".

[2015-07-23 22:33] BoltzmannBrain opened #164 "Raise minimum file length to 4000"
When we add more data we'll raise the min file size requirement, and need to then remove the following files b/c they're <2000 data instances each:
- the 12 "Ad Exchange" data files
- "mole_key_hold"
- "realAWSCloudwatch/iio_us-east-1_i-a2eb1cd9_NetworkIn.csv"

This is related to #132

[2015-08-04 21:30] tomsilver opened #167 "detect number of true positives and replace magic number 44"
in https://github.com/numenta/NAB/blob/master/nab/runner.py#L258, 44.0 is a magic number representing the total number of true positives in NAB datasets. this should be automatically generated from the labels json instead so it doesn't break when we add more data.

[2015-09-03 19:27] BoltzmannBrain opened #172 "Replace AnomalyLikelihood class with the new NuPIC version"
The Numenta detector uses its own implementation of the AnomalyLikelihood class ([here](https://github.com/numenta/NAB/blob/4b56c59e73452e16e487467304fd54c210651d26/nab/detectors/numenta/numenta_detector.py#L108-L166)). We should look into replacing it with the [NuPIC version](https://github.com/numenta/nupic/blob/master/nupic/algorithms/anomaly_likelihood.py#L69), which has improved computation e

[2015-09-03 19:53] vitaly-krugl commented on #172
@BoltzmannBrain: here are a few additional points

1. There is a follow-up PR https://github.com/numenta/nupic/pull/2544 for nupic's AnomalyLikelihood class that hasn't been merged yet. This PR contains important configuration and stats refresh changes. We're targeting this change for the upcoming nupic 0.2.13 release.
2. NAB's requirements.txt doesn't have a nupic entry, much less a versioned one

[2015-09-03 20:33] BoltzmannBrain opened #173 "NAB versioning"
Versioning should use releases w/ git tagging

[2015-09-03 21:06] BoltzmannBrain commented on #172
@vitaly-krugl thank you, I'm planning to test NAB with the new NuPIC once it's released and then make the necessary changes (if there are any). I will then tag NAB v0.8.1 with this version of NuPIC.

NuPIC is held out of the requirements.txt because we don't want to require people have it to run their algorithms on NAB. That is, a user could install NAB and run `python run.py -d my_awesome_detecto

[2015-09-05 21:26] #173 closed

[2015-09-05 21:27] BoltzmannBrain opened #175 "Update .travis.yml"
Update this to follow the newest instructions in the README and run against NuPIC 0.3.0:

[code]

It's important NAB is runnable w/o NuPIC.

[2015-09-09 17:12] subutai opened #176 "Try Yahoo anomaly detection package with NAB"
Yahoo has open sourced a time series anomaly detection package. We should try it with NAB.  Details here:

https://github.com/yahoo/egads

Paper is here (link on github page is broken):

https://labs.yahoo.com/publications/6773/generic-and-scalable-framework-automated-time-series-anomaly-detection

[2015-09-16 22:21] BoltzmannBrain commented on #114
For small files we can use logic that says `prob = min(0.15 * length, 1000)`

[2015-09-19 20:48] BoltzmannBrain commented on #130
closing b/c don't need an issue to track this; labeling is an ongoing process

[2015-09-19 20:48] #130 closed

[2015-09-19 20:51] BoltzmannBrain commented on #112
Demoting to P4 b/c this is not necessary functionality, and #180 helps aid debugging.

[2015-09-19 20:59] BoltzmannBrain commented on #76
#180 updated the plotting script with explanation and examples for plotting data and results.

[2015-09-19 20:59] #76 closed

[2015-09-19 21:10] BoltzmannBrain commented on #33
Fixed in #180.

[2015-09-19 21:10] #33 closed

[2015-09-19 21:57] BoltzmannBrain opened #181 "Flat scoring function"
Implement a flat scoring function for comparison to the NAB sigmoid function. The results comparison is to be added to the ICMLA paper and possibly the NAB scoreboard.

P2 b/c further discussion on the scoring function is wanted for the ICMLA paper.

[2015-09-20 18:25] BoltzmannBrain commented on #181
The flat scoring simply uses the scoring profile value for each TP and FP detection (and for FNs, which is the normal behavior). The respective scores for standard, reward low FP, and reward low FN are,
- Numenta: 75.47, 66.84, 69.51
- TwitterADTs: 37.56, 31.93, 39.43
- TwitterADVec: 45.88, 41.75, 47.25
- Skyline: 46.97, 35.39, 51.01
- Random: 24.92, 5.64, 34.80
- Baseline: 0.00, 0.00, 0.00

Befor

[2015-09-21 21:56] BoltzmannBrain opened #182 "Make plotting script more usable"
Use command line args, where there could be a param for specifying a data dir (below), or the user could specify a single data file.

[code]

[2015-09-23 22:26] #172 closed

[2015-09-23 23:59] #167 closed

[2015-09-24 04:11] BoltzmannBrain opened #187 "Plotting script does not handle data gaps well"
Gaps in data end up splicing the plotted probationary period and anomaly windows. A suggestion for fixing this could be to populate a dataframe of all the consecutive data points from the beginning to the end of the probationary period / windows, rather than using the existing data points that have gaps.

[2015-09-25 18:16] subutai opened #192 "Add NAB to NuPIC regression tests"
NuPIC regression tests should fail if performance on NAB drops below published results, or becomes higher than published results (we need to know either way!). These tests can skip the optimize step and use the currently checked in best thresholds.

Code for regression tests are here:

https://github.com/numenta/nupic.regression

Depends on:

https://github.com/numenta/nupic/issues/2606

[2015-09-30 03:48] #114 closed

[2015-10-04 22:05] BoltzmannBrain commented on #181
Implemented in #197 and #204.

[2015-10-04 22:05] #181 closed

[2015-10-09 10:56] breznak commented on #176
is anyone working on this? I may look at it soon..

[2015-10-09 16:15] subutai commented on #176
@breznak We'd love to do this though not sure we'll have the time. It would be great if someone else could do this. Wait until NAB is at 1.0 first though - there are a few NAB repo changes remaining.

[2015-10-09 16:49] breznak commented on #176
Thanks for the info @subutai ! A rough ETA on the NAB 1.0 ? Meanwhile I'll be preparing the models and running tests

[2015-10-09 16:50] subutai commented on #176
Very very soon. Latest maybe end of next week??

[2015-10-09 16:57] breznak commented on #176
Great, thanks! Just read your answer on mail :)

[2015-10-09 18:39] breznak opened #209 "Visualizations: order the pictures by dataset"
currently the results are ordered by method, then example, eg. `numenta/Twitter/XXX` That results in ordering of images in the `http plot`;

It would be easier for comparisons if the data is sorted by example, and then by method (random, numenta,...).

Or even add a checkbox which methods to include in the plot. And even better, if they (methods) could be in 1 image.

[2015-10-09 19:23] breznak opened #210 "Some tests failing"
when I run `./tests/run_tests.sh`

[code]

[2015-10-09 22:36] breznak opened #212 "New dataset: PhysioNet ECG data - Ventricular anomaly tests"
I'm bringing my ECG experiments on `PhysioNet` data over to NAB.
Any advice before I start doing that?

[2015-10-09 22:37] breznak commented on #212
@subutai ?

[2015-10-09 22:43] breznak opened #213 "Inlude state-of-the art results (even offline)"
Allow to add `only results` for certain algorithms, without need to run the alg. Eg if the alg. does not meet NAB's requirements to be included (speed, online,..) or is not publicly available, we should include the state of the art results for given dataset.

This way it's very easy to add results data for comparison. (Can be used even to compare diff. Nupic versions)

Implementation:
is quite sim

[2015-10-09 23:12] breznak opened #214 "Include Adaptive Resonance Theory (ART) algorithm"
ART, https://en.wikipedia.org/wiki/Adaptive_resonance_theory
can be used for anomaly detection, even should fit NAB requirements, we should include it into our battery of anomaly classifiers for benchmarking!

https://github.com/nupic-community/nupic.audio/issues/18
PS: huh, I'm creating so much issues it crashed Github for a while :see_no_evil:

[2015-10-10 00:14] breznak opened #215 "New anomaly detection algorithms"
Adding new labelers, algorithms to NAB.
This is a super issue for:

- [ ] [Yahoo anomaly detector](https://github.com/numenta/NAB/issues/131)
- [ ] [Adaptive Resonance Theory](https://github.com/numenta/NAB/issues/214)
- Implement/get results from Papers on online anomaly detection
 - [ ] http://bourbon.usc.edu/iml/projects/nsf-dc-0917340/anomaly.pdf
 - [ ] http://www.hpl.hp.com/techreports/2011/H

[2015-10-10 00:53] breznak commented on #132
@BoltzmannBrain @rhyolight do you want to give me edit access? :no_entry: I cant edit someone else's issues here..

[2015-10-10 00:54] breznak commented on #132
- [ ] Include [river-view](https://github.com/nupic-community/river-view/) datasets, @rhyolight can identify optimal candidates

[2015-10-10 01:03] breznak opened #217 "Synthetic datasets for different classes of anomalies"
Define, create and include synthetic datasets for different kinds of anomalies.
This is important for regressions, as the simple data can stress (at different difficulties) certain properties of HTM. I will also help to define concrete advantages and weak spots of HTM.

- [ ] collect and describe all "theoretical classes" of anomalies
 - 1D
  - [ ] point anomaly
  - [ ] amplitude shift
  - [ ] pha

[2015-10-10 01:04] breznak commented on #217
@subutai This has been on my mind for a while, I'd love to hear your thought on it! :question:

[2015-10-10 01:05] breznak commented on #132
- [ ] [Synthetic tests](https://github.com/numenta/NAB/issues/217)

[2015-10-10 17:46] BoltzmannBrain commented on #132
@breznak thank you for the data ideas. We're specifically looking for data with labeled anomalies (this is tough!).

This issue is specific to v1.0, which we're finishing up now; i.e. all the data that will be included in v1.0 is already checked in. So w/ the v1.0 release (next week) we'll most likely close this issue and open a new one for adding data.

[2015-10-10 18:08] rhyolight commented on #132
Would it help if there were a way to label anomalies in River View streams?

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Sat, Oct 10, 2015 at 10:46 AM, Alexander Lavin <notifications@github.com>
wrote:

[2015-10-10 18:46] BoltzmannBrain commented on #132
Definitely, but only true anomalies (i.e. with a known cause), not labels as determined by an htm detector.

[2015-10-10 18:50] rhyolight commented on #132
Yes, as in a way for river administrators to manually mark anomalies.

BTW, this would be an involved feature and I don't think I would attempt it
very soon.

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Sat, Oct 10, 2015 at 11:46 AM, Alexander Lavin <notifications@github.com>
wrote:

[2015-10-10 18:55] BoltzmannBrain commented on #132
Are the administrators those whom add the stream to river view, or someone else?

And could you explain more why we wouldn't try this soon? Thanks Matt.

Sent from my Verizon Wireless 4G LTE smartphone

-------- Original message --------
From: Matthew Taylor <notifications@github.com>
Date: 10/10/2015 11:50 AM (GMT-08:00)
To: numenta/NAB <NAB@noreply.github.com>
Cc: Alex Lavin <alavin@numenta.com>

[2015-10-10 19:28] breznak commented on #132
streams?

Definitely! Not sure if for River, or better for NAB, but a visual tool for
human annotation of anomalies would be useful.
That's why I want to work on the plotter tool.

[2015-10-10 19:32] breznak commented on #132
@BoltzmannBrain https://github.com/numenta/NAB/issues/212 has labeled anomalies; I'm planning to add it ASAP, though no rush to make it for v1.0 or not

[2015-10-10 19:54] subutai commented on #213
I'm not sure what is intended by this issue. We do not plan to include results for algorithms that do not meet the NAB criteria for streaming algorithms. We are fine listing results on the scoreboard for any and all algorithms that can run on the NAB benchmark as it is designed.

Note that this is an open source repository. Anyone can download/fork it and free to use it in other ways.

Closing the

[2015-10-10 19:54] #213 closed

[2015-10-10 19:56] subutai commented on #214
Is there an open source code base for easily running ART? Note that we have to run it in a way that fulfills the requirements for NAB algorithms.

[2015-10-10 19:58] subutai commented on #212
Yes, if it is a labeled dataset it would be nice to consider 5 such files for V2.0. We need to take a look at the data to see if it meets the NAB requirements.

[2015-10-10 20:02] subutai commented on #217
NAB already includes a few artificial datasets, some of which fall into your classes above. I think it is fine to create some more elsewhere (i.e. another repo) that are NAB compatible, but I don't really want to add them into the formal benchmark. I want to focus NAB mostly on real world data and would ideally like to even get rid of the existing artificial datasets. There are lots of other anoma

[2015-10-10 20:02] #217 closed

[2015-10-10 20:04] subutai commented on #209
Not sure what you want to do. What reports or what piece of code do you want to modify? Closing (you can re-open with a tighter definition).

[2015-10-10 20:04] #209 closed

[2015-10-10 20:05] subutai commented on #106
Obsolete.

[2015-10-10 20:05] #106 closed

[2015-10-10 22:15] rhyolight commented on #132
I really don't know yet. This feature has not been designed.

Because I don't have time. If someone else wants to try it, that would be fine with me.

[2015-10-12 15:30] BoltzmannBrain commented on #144
Added as "rogue" data.

[2015-10-12 15:30] #144 closed

[2015-10-12 15:31] #126 closed

[2015-10-12 15:35] rhyolight commented on #192
Is this work scheduled to be done by someone? Do you have any expectations from me?

[2015-10-12 15:41] subutai commented on #192
@rhyolight Yes. We might come to you with questions in a bit.

[2015-10-12 16:01] BoltzmannBrain commented on #132
Closing this issue b/c all the v1.0 data has been added. Potential data additions should have individual issues.

[2015-10-12 16:01] #132 closed

[2015-10-12 16:04] BoltzmannBrain commented on #215
Closing this super issue b/c we would prefer tracking add'l algorithms under a milestone.

[2015-10-12 16:04] #215 closed

[2015-10-12 16:06] BoltzmannBrain commented on #210
This has been broken for some time and should be removed. We use `py.test` to run the tests.

[2015-10-12 16:16] BoltzmannBrain commented on #112
NAB currently has this functionality, but can be tricky to run, so we should probably include an example in the documentation. This could be in the FAQ (#137) as:

    How can I run NAB on a subset of the data?

    Simply remove entries from labels/combined_windows.json, and make sure there aren't conflicting datafiles (i.e. those removed from the windows file) in the relevant results directories

[2015-10-14 16:29] subutai commented on #146
I think this has been mostly handled. Closing for now - any further work on this should have specific issues describing specific things to be fixed.

[2015-10-14 16:29] #146 closed

[2015-10-14 16:30] subutai commented on #164
@BoltzmannBrain Is this issue obsolete now?

[2015-10-14 16:31] subutai commented on #107
Obsolete.

[2015-10-14 16:31] #107 closed

[2015-10-14 16:32] subutai commented on #42
Looks like we missed this. Maybe consider this for v2.0?

[2015-10-14 20:26] BoltzmannBrain commented on #164
We should decide. Initially this issue was created when there were only a couple files w/ < 2000 records, but now we have more more data files in this group. It would be nice to have a minimum file length for NAB, but this would mean removing nine data files from the v1.0 dataset.

[2015-10-14 20:28] BoltzmannBrain commented on #42
Sure, but do you know what data file this is referring to?

[2015-10-14 20:30] subutai commented on #42
Yes, I have the file. It is customer data.

[2015-10-14 20:32] subutai commented on #164
Well, we can't make changes to this now so this would have to be an issue for v2.0.  I think if we end up with more than 100 files we can start considering removing some.  Until then it is more valuable to have the real data even if it is imperfect.  Closing the issue for now.

[2015-10-14 20:32] #164 closed

[2015-10-15 09:13] breznak commented on #176
@wattik This could be interesting 4 you.

[2015-10-22 13:06] BoltzmannBrain commented on #143
@subutai this is no longer an issue, correct? Now we're using the current version of NuPIC, checking the scores w/ the regression tests.

[2015-10-22 13:06] BoltzmannBrain commented on #71
v1.0

[2015-10-22 13:06] #71 closed

[2015-10-22 13:09] BoltzmannBrain commented on #101
@subutai you finished this in tuning `numBuckets`, correct?

[2015-10-22 13:12] BoltzmannBrain commented on #192
https://github.com/numenta/nupic.regression/pull/25
https://github.com/numenta/nupic.regression/pull/26
https://github.com/numenta/nupic.regression/pull/27

[2015-10-22 13:12] #192 closed

[2015-10-22 15:56] subutai commented on #143
Correct. Closing.

[2015-10-22 15:56] #143 closed

[2015-10-22 15:56] subutai commented on #101
Yes. Closing.

[2015-10-22 15:56] #101 closed

[2015-10-22 20:20] chetan51 opened #224 "Allow specifying a subset of the data"
Currently if I delete directories in the `data` directory and run NAB, it errors out. I want to be able to run a subset of the data through NAB and get results.

[2015-10-22 20:22] subutai commented on #224
I believe you can do that by specifying a different windows file using the command line option `--windowsFile WINDOWSFILE`. It will only score data files mentioned in that windows file.  No need to delete data files. It would be nice to have an example showing that.

[2015-10-22 20:48] chetan51 commented on #224
@subutai When I try a different windows file with a subset of the entries in it, I get this error when running `run.py`:

  Traceback (most recent call last):
    File "run.py", line 177, in <module>
      main(args)
    File "run.py", line 72, in main
      runner.initialize()
    File "/Users/Chetan/Dropbox/Development/NAB/nab/runner.py", line 93, in initialize
      self.corpusLabel = CorpusLab

[2015-10-22 20:51] subutai commented on #224
I ran into something similar before but thought I had fixed it. Apparently not! Is your PR addressing the above issue?

[2015-10-22 20:52] chetan51 commented on #224
No, my PR is allowing you to delete data files. But if using a different windows file is the correct way to run a subset of the data through, then I will close the PR.

[2015-10-22 20:54] subutai commented on #224
Yes, the correct way is to specify a different windows file rather than deleting data files. I think we do want to generate an error if the specified windows file mentions a data file that does not exist.

[2015-10-22 21:02] chetan51 commented on #224
Okay, I'll try to figure out this error, since it is blocking me on a unicorn task.

[2015-10-22 21:55] chetan51 commented on #224
Ah, I had copied from `labels/combined_labels.json` instead of `labels/combined_windows.json`. Do we still need `labels/combined_labels.json` or can I delete it?

[2015-10-22 22:15] subutai commented on #224
I believe we do need that file. Great it worked.

[2015-10-22 22:42] #224 closed

[2015-10-27 23:50] #103 closed

[2015-10-27 23:54] SaganBolliger commented on #175
@BoltzmannBrain Has this been fixed by #208?

[2015-10-27 23:57] BoltzmannBrain commented on #175
No, we don't want to install nupic with nab.

[2015-10-28 00:19] SaganBolliger commented on #137
Copied the note sheet into a page at https://github.com/numenta/NAB/wiki/FAQ

[2015-10-28 00:40] BoltzmannBrain commented on #137
Okay thanks. Please also suggest additional question-answers to add.

[2015-11-04 14:33] BoltzmannBrain commented on #131
data.gov offers over 100,000 open datasets, maybe some with good [time-series anomalies](https://catalog.data.gov/dataset?q=time+series+anomalies&sort=score+desc%2C+name+asc&ext_location=&ext_bbox=&ext_prev_extent=-183.515625%2C-30.751277776257812%2C-17.578125%2C72.81607371878991#sec-tags).

[2015-11-18 04:23] BoltzmannBrain commented on #176
Upgrading to P2 b/c the Yahoo package includes some traditional statistical techniques that we've been asked about (i.e. ARIMA).

@breznak have you looked into this?

[2015-11-18 20:49] welch opened #228 "consider anomaly start times different from anomaly detected times"
NAB is a terrific resource, and I am enjoying benchmarking with it. Thank you for assembling and publishing this framework.

The insistence that an anomaly be detected in real time (anomaly start time == anomaly detected time) is not quite realistic in a production setting.  A benchmark in which the detector outputs a retrospective anomaly start time within a specified lag from realtime would be a

[2015-11-18 22:23] subutai commented on #228
@welch Thanks for the feedback!  Good point about the labeling writeup. We should do a scrub of some of that stuff as it was written a while ago.

Regarding lags, that is handled within anomaly windows. There's no concrete anomaly start time, instead there is a window within which to detect the anomaly. So if a detector is a little bit late in detecting anomalies, that's ok, as long as the detecti

[2015-11-25 12:11] breznak commented on #176
@BoltzmannBrain @wattik and I should be working on this in about a month...

[2015-11-30 20:04] welch commented on #228
It would be interesting/realistic if the unpenalized lag was an actual parameter. This is probably unwelcome complexity in a benchmarking setting though.

Rethinking my remark about the labelling: some sets have ground truth labels that did not come from human labelers, making lookahead irrelevant. Perhaps it is more consistent to bless your labelers' use of the entire series, since the benchmark

[2015-12-03 21:51] vitaly-krugl opened #231 "NAB should be updating and using nupic's getScalarMetricWithTimeOfDayAnomalyParams"
NAB PR #206 recently made improvements to its own copy of the model parameters.

Htmengine is relying on  nupic.frameworks.opf.common_models.cluster_params.getScalarMetricWithTimeOfDayAnomalyParams() for its model parameters.

NAB should be using and updating nupic.frameworks.opf.common_models.cluster_params.getScalarMetricWithTimeOfDayAnomalyParams instead of maintaining its own copy of the param

[2015-12-08 19:39] rhyolight commented on #231
:+1:

[2015-12-08 22:07] breznak commented on #182
Guys, would you be interested in using (and mentioning in the plot readme section) the project https://github.com/nupic-community/nupic.visualizations ?
In regards to this project:
* `+` it can nicely and interactively work with the raw & results data from NAB experiments.
* `-` cannot show more graphs at once, as it works here now; but you could likely change it to that behavior.
* `?+` has plans

[2015-12-08 23:11] BoltzmannBrain commented on #182
Possibly. How is it different from the current plotting script and the NAB visualizer? Would you be able to generate some example NAB figures? I looked in the nupic.visualizations NAB examples dir but only found the current NAB visualizer.

[2015-12-08 23:19] breznak commented on #182
@BoltzmannBrain the NAB visualizer there is outdated, the generic tool can open the files now. The example figure can be seen on the project page, or you can just clone and run to test interactively.

[2015-12-09 19:12] subutai commented on #231
One update to the note above: before switching NAB over, we should make sure

nupic.frameworks.opf.common_models.cluster_params.getScalarMetricWithTimeOfDayAnomalyParams()

contains the latest parameters from NAB!  Is there a NuPIC issue for that?

[2015-12-09 20:08] breznak commented on #231
:+1: hope to see an example in nupic! I got a bit lost how do I feed the `metricData` - if I don't have any? I want the best set of params for a generic (black box) usecase. I was under assumption `hotgym` is sort of that.

[2015-12-09 21:21] vitaly-krugl commented on #231
@subutai - regarding

The intention behind this issue is to do both things: update the params in NuPIC and switch NAB to using getScalarMetricWithTimeOfDayAnomalyParams. Since these are tightly-coupled changes, do we need a separate issue in NuPIC for it?

[2015-12-09 21:28] vitaly-krugl commented on #231
@breznak, regarding

There is an example of `getScalarMetricWithTimeOfDayAnomalyParams()` use here: https://github.com/numenta/numenta-apps/blob/9a02bf984272721f94b1255b81146841bc890433/htmengine/htmengine/runtime/scalar_metric_utils.py#L80-L84

[2015-12-10 15:38] subutai commented on #231
@vitaly-krugl Not sure - up to @rhyolight . As long as both issues get taken care of in the right order, I don't really care!

[2015-12-10 16:06] breznak commented on #231
@vitaly-krugl thank you! I'm still trying to understand the concept - is this useful for me if I have: black box data (any, generic use-case), don't do swarming (actually, does this code just run some small swarming to get "best" params?), I don't use time in my model? What params does this set - encoder, anomaly, all for HTM model..?

[2015-12-10 19:16] vitaly-krugl commented on #231
@breznak, `getScalarMetricWithTimeOfDayAnomalyParams` is using this file as the template: https://github.com/numenta/nupic/blob/master/src/nupic/frameworks/opf/common_models/anomaly_params_random_encoder/best_single_metric_anomaly_params.json

and augments it with values based on the args of the function.

The static template was initially derived from swarming over IT data, and we found that it w

[2015-12-10 20:40] breznak commented on #231
Thank you @vitaly-krugl !

Just one last checklist :wink:  before we freeze these values for https://github.com/breznak/neural.benchmark/issues/14 (CC @wattik please TODO)
* looks like these values have better foundation than the "hotgym" (NuPIC will switch anyway)
* we also figured RDSE is better (is still better to use plain Scalar where possible?), the resolution params may help to tweak where

[2015-12-10 20:59] chetan51 commented on #231
Hi @breznak, answering the questions I can:

Yes, if you know the min/max and they don't change.

No, just rounding effects.

[2015-12-10 21:06] breznak commented on #231
Thanks @chetan51 :+1:

[2015-12-10 21:50] chetan51 commented on #231
Perhaps @subutai can answer the rest?

[2015-12-11 19:02] subutai commented on #231
Yes, I believe so. Everyone should start with these parameters unless they have a good reason.

Yes, I think these SP and TM parameters are good starting points even if you have a different set of initial encoders.

No we haven't. That would be an interesting thing to test!

[2016-01-11 19:37] breznak opened #233 "Mention/replace new plot tool in readme"
Guys,

would you be interested in using (and linking from your readme) our tool https://github.com/nupic-community/nupic.visualizations ?

The functionality is getting more mature and we'd like to attract more users from different use-cases.
Currently the tool does NOT support plotting multiple files at once, but for a single (OPF) file it imho offers better functionality than the plot.ly/python s

[2016-02-01 01:13] BoltzmannBrain commented on #212
@breznak any progress here?

[2016-02-01 02:26] BoltzmannBrain commented on #233
@breznak good work on this. It appears to have the same functionality as the [NAB data visualizer](https://github.com/numenta/NAB/tree/master/scripts#alternative-data-and-results-visualization), although   not being able to plot multiple files at once is a drawback. I would consider replacing the current visualizer with the nupic.visualization tool if the following functionality is added:
- Plot m

[2016-02-25 13:24] breznak commented on #212
@BoltzmannBrain nah :disappointed: but I'll have to do it myself..

[2016-02-25 15:22] BoltzmannBrain commented on #212
@breznak would be a great submission to the [NAB competition](http://numenta.org/nab/)!

[2016-03-08 18:18] rhyolight opened #234 "Since classifier is not enabled, why have classifier parameters?"
In the [NuPIC model params](https://github.com/numenta/NAB/blob/master/nab/detectors/numenta/modelParams/model_params.json#L21-L27):

[code]

Since `clEnable` is false, can't you just remove the whole `clParams` block?

[2016-03-08 19:11] rhyolight opened #235 "NuPIC model params has invalid parameter for RDSE"
The RDSE configuration has a property called [`numBuckets`](https://github.com/numenta/NAB/blob/master/nab/detectors/numenta/modelParams/model_params.json#L45) that is not an input parameter for the actual RDSE. This is confusing. You can see where this value is removed from the actual model params before creating the model and used as part of the resolution calculation [here](https://github.com/n

[2016-03-08 19:13] rhyolight commented on #235
I can totally see why this is done, I just think it could be done in a less confusing way. At least make it clear that the `model_params.json` file cannot be uses directly.

[2016-03-09 05:28] #137 closed

[2016-03-09 05:28] BoltzmannBrain commented on #176
Added to the wiki.

[2016-03-09 05:28] #176 closed

[2016-03-09 05:29] #233 closed

[2016-03-09 14:48] BoltzmannBrain commented on #231
@rhyolight is there a nupic issue (and PR) for this?

[2016-03-09 15:18] rhyolight commented on #231
@BoltzmannBrain I don't believe so, no.

[2016-03-09 17:29] BoltzmannBrain commented on #234
Yes, the `clParams` dict can be removed, but the `clEnable` entry must remain as it is expected by the CLA model. Including this there are a few issues around nab/nupic params (#231, #235), so I'll wrap them together into a future PR.

[2016-03-09 19:44] BoltzmannBrain commented on #231
The task here is to change [NuPIC's best anomaly params](https://github.com/numenta/nupic/blob/master/src/nupic/frameworks/opf/common_models/anomaly_params_random_encoder/best_single_metric_anomaly_params.json) to match the current NAB params (which are believed to be generally the best), and then have the NAB algorithm use the NuPIC json directly rather than keeping a copy in the NAB repo. @subut

[2016-03-09 20:04] subutai commented on #231
Yes, that sounds correct (in that order too). @vitaly-krugl mentioned this too earlier in this thread. I guess someone just needs to create the NuPIC issue for this? :smile:

[2016-03-09 20:08] BoltzmannBrain commented on #231
Thanks, will do.

[2016-03-09 21:33] BoltzmannBrain commented on #231
https://github.com/numenta/nupic/issues/3046

[2016-03-10 02:15] BoltzmannBrain commented on #231
I've updated the nupic params with nab's, and setup the htm detector in nab to pull them in from nupic. I'm finding differences in the resolutions calculated from `numBuckets`, resulting in (small) score changes. For example, here is the resolution for "realTraffic/TravelTime_387.csv" under a few setups, the HTM detector using the NAB params...

1. in NAB, res = 54.3846153846.
2. "" w/o padding th

[2016-03-10 02:19] BoltzmannBrain commented on #235
The RDSE needs to know what granularity at which to setup the data buckets, and then use this granularity to calculate the resolution on a per file basis. That is, `numBuckets` is specified for the entire corpus, from which the RDSE calculates `resolution` for each data file in the corpus. The fix for #231 will make this a bit cleaner.

[2016-03-11 00:32] #231 closed

[2016-03-11 00:34] BoltzmannBrain commented on #235
Closed w/ #236

[2016-03-11 00:34] #235 closed

[2016-03-11 00:34] BoltzmannBrain commented on #234
Closed w/ #236

[2016-03-11 00:34] #234 closed

[2016-04-15 16:34] rhyolight commented on #235
Thanks @BoltzmannBrain

[2016-05-18 17:51] alirezahajibagheri opened #239 "NAB Dockerfile"
Hello everyone,

I was trying to test an anomaly detection algorithm and that's when I came across NAB. I tried different methods to install NAB on my Linux machine and had no luck to get rid of several issues related to NuPIC  (can not find math.h and stuff like that) so I ended up using their docker file and thought it would be nice to have one for NAB itself to get it up and running as fast as

[2016-05-18 17:56] subutai commented on #239
@alirezahajibagheri That's great - thank you!  It could be really useful to others. I suggest the best place to post it is on the HTM Forum, in the NuPIC category: https://discourse.numenta.org

I am closing the issue as it is not really a bug or change request, but you did get our attention 😄 Please post it to the list!

[2016-05-18 17:56] #239 closed

[2016-05-18 17:57] subutai commented on #239
@rhyolight Perhaps worth having a NAB sub-category under NuPIC?

[2016-05-18 18:11] oxtopus commented on #239
I created https://github.com/nupic-community/NAB-Dockerfile (currently empty) for this.

[2016-05-18 18:27] BoltzmannBrain commented on #239
Thanks @alirezahajibagheri, running NAB via Docker will be a great addition!

@lscheinkman if I recall correctly, didn't you also use Docker for NAB? If so, are there differences between this dockerfile and yours?

[2016-06-05 14:48] #175 closed

[2016-06-05 15:28] BoltzmannBrain commented on #214
@breznak maybe enter this algorithm into the [NAB competition](http://numenta.org/nab/)?

[2016-06-05 15:29] #210 closed

[2016-06-05 15:31] #3 closed

[2016-06-09 15:09] smirmik opened #244 "Optimizer does not work optimally"
I have a dataset with very low optimal thresholds (lower than 0.1) , and if i to start optimizer he end his work on 0.5 with best score -118. But if i change initialGuess in optimizer.py to 0.0 and start again, i get parameter 0.1 with -93 best score.

[2016-06-09 17:45] BoltzmannBrain commented on #244
Could you please clarify your issue, with the code and data you're running?

[2016-06-09 18:21] Smirmik commented on #244
Unfortunately I can not find exactly the dataset of which i wrote the above, but there is another example;

~/numenta/NAB/nab/optimizer.py
43   initialGuess=0.5

m-smirnov@ubuntu14:~/numenta/NAB$ python run.py -d CADV0DT01DW1NB008MC008OC008 --optimize
m-smirnov@ubuntu14:~/numenta/NAB$ python run.py -d CADV0DT01DW1NB008MC008OC008 --score --normalize

Final score for 'CADV0DT01DW1NB008MC008OC008' de

[2016-06-09 18:24] Smirmik commented on #244
https://drive.google.com/open?id=0BxbPAYsdde57WEtXVGxuUDYyWWs

[2016-06-09 21:16] BoltzmannBrain opened #245 "Post mean scores for algorithms that use a random seed."
Scores should not reflect a single random seed, but rather the mean over a handful of seeds. For algorithms that use a random number generator, we want the scoreboard to reflect the mean score, with a note that indicates the spread.

[2016-06-09 22:01] BoltzmannBrain commented on #245
For the random detector I've found the following means and ranges:

- standard: 11.03 (7.95 to 16.83)
- reward_low_FP_rate: 1.2 (-1.56 to 2.14)
- reward_low_FN_rate: 19.5 (11.34 to 23.68)

[2016-06-11 00:38] subutai commented on #109
@BoltzmannBrain Should @zuhaagha look into this?

[2016-06-11 03:02] BoltzmannBrain commented on #109
Yes this would be a good task. Outcomes of this tuning should include the Skyline version number in the scoreboard, and comments in the code about the tuning--currently we just comment out parts of the algorithm, and this is confusing.

[2016-06-11 03:07] BoltzmannBrain commented on #109
I've created a [jira](https://jira.numenta.com/browse/RES-231) for this task.

[2016-06-11 17:59] subutai commented on #245
@BoltzmannBrain Let's update the README with these, as well as the results from the Sliding Gaussian threshold detector.

[2016-06-11 18:41] zuhaagha commented on #109
Ok I will get started on it.

[2016-06-13 23:50] zuhaagha commented on #109
@BoltzmannBrain For skyline parameter tuning, do you think I should experiment with different combinations of skyline algorithms or use all algorithms that the detector is currently using and only tweak the parameters internal to each of the algorithms (such as number of histogram bins or data points threshold for each bin).

[2016-06-14 17:38] BoltzmannBrain commented on #109
@zuhaagha I would start by comparing our implementation against the [original Skyline algorithms](https://github.com/etsy/skyline/blob/master/src/analyzer/algorithms.py). Then understand why we have some of them commented out: if we currently run algorithms A, C, D, and F, try adding B back in and analyze the results, and repeat with E. That is, try different combos of the algorithms to understand

[2016-06-16 20:53] BoltzmannBrain commented on #244
We have unit tests to explicitly test for different initial guesses ([here](https://github.com/numenta/NAB/blob/master/tests/unit/optimizer_test.py#L104)). Do you have any differences from NAB master?

[2016-06-18 07:23] floybix opened #250 "NAB scoring requires NuPIC installed, contrary to README"
Hi,

The README says to install _"NuPIC (only required if running the Numenta detector)",_ but:

[code]

[2016-06-18 13:57] Smirmik commented on #244
These tests are based on smooth curves, but in reality it turns out very discrete function with long straight sections, with one value. Imagine chart as an inverted truncated cone: \ __ / is necessary for the middle value of 0.5, and the peaks are closer to 0.0 and 1.0 - in this case, your maximum search algorithm does not work.

I would like to write an additional test, but try to end my algorith

[2016-06-18 15:55] BoltzmannBrain commented on #244
@Smirmik yes there's a chance 😉 please submit your algorithm to nab@numenta.org according to the [details on the competition page](http://numenta.org/nab/#algorithms-category). The earlier you submit the better b/c then we have time to sort out any issues with the submission. I'll dig a little more into the optimizer this weekend, thank you for pointing out this issue.

[2016-06-18 20:01] BoltzmannBrain commented on #250
Good catch, thank you! I'll followup with a PR shortly.

[2016-06-18 20:18] BoltzmannBrain commented on #250
Importing the [`normalProbability()`](https://github.com/numenta/nupic/blob/master/src/nupic/algorithms/anomaly_likelihood.py#L621) method is problematic. We should instead calculate the tail probabilities directly.

[2016-06-21 00:34] #250 closed

[2016-07-05 21:26] scottpurdy opened #258 "Relative position computation is confusing"
Right now there are some confusing aspects of how the relative position is computed:
- Rows inside the window have their position divided by `scaledSigmoid(-1.0)` while rows after the window do not.
- The relative position is computed by dividing some index offset by the size of the window. But for rows after the window, the divisor is one less than the window size.
- The last row in the window is

[2016-07-06 03:59] BoltzmannBrain commented on #258
Thanks for bringing this up @scottpurdy

This points out an inconsistency with the current paper. In the code the front of a window is a relative position of -1.0, but in the paper (Fig. 3) this is shown as -3.0. Both are correct though. In the code, a relative position of -1.0 yields a TP score of 1.0 b/c we divide by scaledSigmoid(-1.0). Going by the paper's equations, a relative position of -3.

[2016-07-06 13:25] subutai commented on #258
This is fine but note that we cannot make any changes to the scoring algorithm or code for 1.0. This would have to be a post 1.0 change.

[2016-07-06 17:27] scottpurdy commented on #258
@subutai totally agree and this shouldn't have any practical impact on scores so it isn't critical to make these changes right away

[2016-07-26 16:01] #109 closed

[2016-09-13 17:06] BoltzmannBrain opened #271 "Rename "windowed Gaussian" / "sliding threshold""
The detector is named "sliding threshold" in the scoreboard, but in the code it's "windowed Gaussian". This is confusing, we should have one name.

FWIW the algorithm is a windowed Gaussian, which is one implementation of the sliding threshold method.

[2016-09-27 20:04] rhyolight opened #275 "NuPIC detectors should use the Network API, not the OPF"
Both of Numenta's NuPIC detectors use the OPF as NuPIC's interface.

[code]

They [should use the Network API instead](https://github.com/numenta/nupic/issues/3357#issuecomment-249284934), because it is better suited for anomaly detection problems.

[2016-09-27 20:54] rhyolight commented on #275
I changed my mind about this. I think we just need to better document what the OPF is and how it can be used.

[2016-09-27 20:54] #275 closed

[2016-09-28 00:28] subutai commented on #275
@rhyolight Yes, I agree. I don't see why it shouldn't use the OPF.  Anomaly models could be a particular model type in the OPF.

[2016-09-28 00:44] cogmission commented on #275
@subutai @rhyolight It should be fixed so that you can use Anomaly models without having to declare a predicted field. Right now it throws an exception if you don't specify a ```predictedField```
;-)

[2016-09-28 02:26] BoltzmannBrain commented on #275
@cogmission the `predictedField` tells the model what value to infer on, which is necessary for any TM model, regardless of the application -- prediction, classification, anomaly detection.

[2016-09-28 02:47] cogmission commented on #275
@BoltzmannBrain

As far as I have seen, the only practical use for "knowing" this field is to state which field a classifier is specified for. This isn't necessary for Anomaly Detection.

[2016-09-28 02:58] subutai commented on #275
@cogmission is correct. There is no particular need for predicted field for anomaly detection. It is required only because of a hacky CLAModel.py implementation which should be cleaned up.

[2016-09-28 03:00] BoltzmannBrain commented on #275
@cogmission my mistake

[2016-09-28 03:23] cogmission commented on #275
@BoltzmannBrain Hey nobody's making mistakes. I regard us as a think tank where even the craziest statements can inspire other thoughts which are inspired. This was the atmosphere of my first job "FizzyLab", and that attitude has stuck with me. I guess that's why I'm very "free" with my utterances. I think its stifling to be in an atmosphere where you have too much to protect and you have to alway

[2016-09-29 16:53] mrcslws opened #276 "The numentaTM scores should be updated"
The README shows the numentaTM scores as:

**reward_low_FP_rate**: 52.4
**reward_low_FN_rate**: 66.1
**standard**: 61.2

It says this is from nupic.core SHA c030b84 (from May).

Since then, we've made a few changes to the TM:
- Bugfix: https://github.com/numenta/nupic.core/issues/1021
- Algorithm change: https://github.com/numenta/nupic.core/issues/1058
- (Lots of other changes that cause us to hi

[2016-09-29 18:37] mrcslws commented on #276
The "numenta" scores also fell with some recent commit, presumably to the SP. I'm figuring out which one caused the drop. Maybe it also affected "numentaTM", which uses the SP.

[2016-09-30 17:25] mrcslws commented on #245
Suggestion 1: **We should report the mean for HTM as well.**

The NAB score for the HTM detectors varies significantly with different random seeds. Some examples:

- Using the current SP seed (1956), the "numentaTM" detector gets a standard score of 60.7
- With seed 42, it gets 58.3
- With seed 1957, it gets 63.9

Our posted score of 65.3 is just one sample. It would be good to post the mean.

(Th

[2016-10-01 12:16] cogmission commented on #245
**Question:** How is it that a stable determinate algorithm varies in _performance_ or _quality_ due to changes in RNG seeds? This doesn't seem right. This is what @rhyolight was talking about in our meeting, that should not be the case. The performance shouldn't vary just because we choose a different seed.

Also, I question whether the "test" or NAB should be altered to "allow" for this (indeter

[2016-10-02 00:44] BoltzmannBrain commented on #245
@mrcslws NAB detectors should have transparency as to how random seeds affect scores, and how to adjust them if desired. But built-in functionality may be overkill.

[2016-10-19 20:33] #271 closed

[2016-11-28 18:13] #276 closed

[2017-01-19 10:20] jverre opened #291 "Anomaly windows not centered on anomalies"
While looking at the labels for the benchmark dataset, I have noticed that at least one anomaly window does not contain any anomaly as defined by the anomaly timestamp.

Example:
"Raw "anomaly values from /labels/combined_labels.json =
"realAWSCloudwatch/iio_us-east-1_i-a2eb1cd9_NetworkIn.csv": [
        "2013-10-10 09:35:00",
        "2013-10-10 20:40:00"
    ]

Window for anomalies from /labels/

[2017-01-19 10:51] jverre commented on #291
This might actually be intended behaviour as the labeler script (/nab/labeler.py) contains a specific function for this dataset. It seems like this anomaly has been flagged for manual review.

[2017-01-19 17:26] #291 closed

[2017-03-01 18:43] scottpurdy opened #294 "Add more explanation of run.py in README"
The action options (detect, optimize, score, normalize) should be explained so that users know which ones they need to run.

[2017-03-17 11:58] hmf opened #295 "Broken links"
Found what seem to be broken links in the Wiki home page:

https://github.com/numenta/NAB/wiki

They are:

[Reporting results with NAB](Reporting results with NAB)
[NAB Entry Points](NAB Entry Points)
[Example with Twitter algorithm](Twitter Anomaly Detector)
[NAB Contributions Criteria](NAB Contributions Criteria)

Only the FAQ seems to be ok:

https://github.com/numenta/NAB/wiki/FAQ

May be an i

[2017-03-17 13:50] hmf opened #296 "Questions regarding NAB - threshold setting and labeling"
Don't know if this is the correct forum, but I did not find any links to mailing lists. If this should be placed elsewhere or make each question an issue, please tell me and I will correct this.

0. In the description we assume the algorithms to be tested are adaptable and one need no set the (hyper)parameters. However the NAB process includes an optimization phase that is used to identify and set

[2017-03-17 16:22] hmf commented on #296
Question 0, above answered:
[code]
Optimization is optional and if not set, it uses a threshold of 0.5.

[2017-04-09 09:42] Antsypc opened #298 "How can I work with multi-dimension metrics?"
Data are ordered, timestamped, **single-valued** metrics.
While sometimes anormaly is depend on multi-dimension metrics not single value.How can I solve this problem with NAB, or nupic? THX.

[2017-04-26 18:07] dmargala opened #300 "anomaly label + window mismatch"
Hi, while looking through the labeled anomalies in the `labels/combined_label.json` and `labels/combined_windows.json` files, I encountered two potential issues:

1) It looks like the first anomaly at in the `realAWSCloudwatch/iio_us-east-1_i-a2eb1cd9_NetworkIn.csv` dataset appears about an hour before the corresponding window. See:

https://github.com/numenta/NAB/blob/master/labels/combined_label

[2017-06-16 20:31] shme opened #304 "Fix realRogueAgent typo"
Could you please upload the realRogueAgent dataset?

Thanks!

[2017-06-16 21:00] subutai commented on #304
Hi @shme - oops, that is a typo in the README.  The data files are in the realKnownCause directory:  rogue_agent_key_updown.csv and rogue_agent_key_hold.csv.  I'll fix it.

[2017-06-16 23:16] #304 closed

[2017-07-09 18:28] jengelman opened #309 "Requirements installation fails on OSX 10.12.15"
For reference, I'm running Anaconda Python 2.7.13.

Running `(sudo) pip install -r requirements.txt' fails with error message:

` Failed to build psutil`

Running without sudo surpasses the message until both psutil and pycapnp fail to install, and then stops completely with a permission error.

psutil can be installed independent using `pip install psutil`, but the full requirements installation

[2017-07-09 18:48] rhyolight commented on #309
Sorry, we don't support Anaconda in NuPIC.

[2017-07-09 18:48] #309 closed

[2018-01-11 01:11] fazlekarim opened #313 "confusing readme"
I want to know the labels of each data point. How will I do so?

[2018-01-16 17:44] subutai commented on #313
The labels are in the `labels` subdirectory.

The exact format and details are documented in the NAB Whitepaper, referenced in the main README and here:

https://github.com/numenta/NAB/wiki#nab-whitepaper

Note that the “label” timestamps are converted to anomaly windows, which are more appropriate for real time temporal data streams and are used for the actual scoring.

[2018-01-16 17:44] #313 closed

[2018-01-30 16:01] benbastaki opened #314 "ZeroDivisionError: float division by zero"
I am trying to validate a dataset (includes time, anomaly_S, likelihood and log +lable),
but I get error below:

  **File "C:\combine_dataset\Framework_V4\NAB\NAB\NAB\score_dataset.py", line 78, in score
    normalized_score = 100 * ( (raw_score - null_score) / (perfect_score - null_score))
ZeroDivisionError: float division by zero**

To pass this error, I edited and add **+0.0000001**  to:
  norm

[2018-01-31 19:39] #24 closed

[2018-01-31 19:40] #25 closed

[2018-01-31 19:40] #42 closed

[2018-01-31 19:40] #55 closed

[2018-01-31 19:40] #94 closed

[2018-01-31 19:40] #23 closed

[2018-01-31 19:40] #93 closed

[2018-01-31 19:40] #112 closed

[2018-01-31 19:40] #131 closed

[2018-01-31 19:40] #133 closed

[2018-01-31 19:40] #138 closed

[2018-01-31 19:40] #182 closed

[2018-01-31 19:41] #187 closed

[2018-01-31 19:41] #214 closed

[2018-02-01 01:01] lscheinkman commented on #314
@benbastaki The file `score_dataset.py` is not part of NAB. It looks like a custom script
Can you replicate this problem with the released version of NAB?

CC: @rhyolight

[2018-02-07 17:05] rhyolight commented on #314
Closing due to lack of response.

[2018-02-07 17:05] #314 closed

[2018-02-20 23:01] yusong0926 opened #315 "can't run htmjava"
(NAB-env) Songs-MacBook-Pro:NAB syu$ python run.py -d htmjava --detect --score --normalize
{'dataDir': 'data',
 'detect': True,
 'detectors': ['htmjava'],
 'normalize': True,
 'numCPUs': None,
 'optimize': False,
 'profilesFile': 'config/profiles.json',
 'resultsDir': 'results',
 'score': True,
 'skipConfirmation': False,
 'thresholdsFile': 'config/thresholds.json',
 'windowsFile': 'labels/combine

[2018-02-22 20:36] rhyolight commented on #315
What version of java are you running?

`java -version`

[2018-02-22 20:50] rhyolight commented on #315
Interesting, I got the same error when I ran. I'll have to defer to @cogmission about this.

    python run.py -d htmjava --detect --score --normalize

[code]

[2018-02-22 21:11] yusong0926 commented on #315
thanks.

[2018-03-21 14:38] suhasDataken opened #316 "HTMJava NAB Scores do not match published scores"
I cloned latest master branch of NAB and followed suggested steps to run benchmark against htmjava detector. The results I got are as follows:
[code]

Whereas the published scores for htmjava are:

[code]

Did I miss something?

[2018-03-21 16:00] suhasDataken commented on #315
I uninstalled numpy1.12.0, then installed numpy 1.11.1 and got past this issue.

[2018-03-21 22:00] rhyolight commented on #315
@yusong0926 Does the numpy version update above fix this issue for you?

[2018-03-21 22:04] rhyolight commented on #316
The published scores are from about 2 years ago. I'm not sure how much htm.java has changed since then, but it could have. If you are running off the master branch the numbers may have changed a bit.  This seems like a pretty big change though. Do you have any ideas @cogmission?

[2018-03-21 22:23] cogmission commented on #315
@rhyolight - Wow! Sorry, I didn't even see some of these issues...

@yusong0926 - I hope this solves your issue? (and thanks @suhasDataken!)

[2018-03-23 16:38] cogmission commented on #316
@rhyolight - thanks for looking into this. I think what I was referring to by "2 different ways in which the framework is run" was maybe an optimization present in the Numenta runs or maybe that there were modified versions of the TemporalMemory used or different version? Sorry if I'm adding more confusion! :-P

[2018-03-23 16:49] rhyolight commented on #316
@cogmission You never implemented the BacktrackingTM, or did you? My memory, man.

[2018-03-23 16:56] cogmission commented on #316
@rhyolight - I heard mention of it somewhere, not sure... but no. Whether this is the right attitude or not, I'm not sure, but I was only going to implement whatever got put in the Nupic code proper? Is the backtracking algo in Nupic or just research?

I don't think I need to implement everything in Research because it might not even make it to the Nupic repo? I'm not sure I should implement stuff

[2018-04-04 11:48] SimonWesterlindVPD opened #317 "Spatial Tolerance"
Hello Numenta!

For the HTMjava algorithm you have included a Spatial Tolerance which thereafter is used as an anomaly detection directly applied to the data. This is a reasonable addition to the HTM's anomaly likelihood to detect spatial anomalies in practice. However, given that this is an addition to the HTM which could be applied to all other algorithms also (but it has not been applied to ass

[2018-04-04 16:42] subutai commented on #317
Hi @SimonWesterlindVPD - that's a good point.  It should be tried with the other detectors as well. It would be great if you want to try it out and report the results 😃

Personally I don't know that it will have much effect. This was put in to catch some spatial anomalies specifically missed by the core detector, and had only a small impact (the HTM still caught a lot of spatial anomalies). KNN-CA

[2018-06-11 22:05] rhyolight commented on #316
@cogmission So we've looked into this, specifically @lscheinkman replicated the reported numbers using HTM.java and the current [instructions](https://github.com/numenta/NAB/tree/master/nab/detectors/htmjava). I am going to create a new PR against NAB to update the scores both @lscheinkman and @suhasDataken got running HTM.java against NAB.

David, if you'd like to dispute any of this, you'll need

[2018-06-11 22:38] cogmission commented on #316
@rhyolight Do we know the version of the software used to obtain the original numbers? Also, the new numbers are for the latest version?

@rhyolight Honestly, my only job is to ensure algorithmic parity with whatever version of NuPIC HTM.Java is being developed against at the time. It may be that there are "enhancements" used beyond that which are specifically tailored to enhance the performance o

[2018-06-12 16:30] #315 closed

[2018-06-12 16:34] rhyolight commented on #316
David, it may be because we need to run NAB with the `--optimize` flag, which would explain everything. Standby, you probably don't need to do anything.

I forgot that you were not even the one to created these numbers in the first place.

[2018-06-12 17:00] cogmission commented on #316
@rhyolight - Any word on when/if "Research" will be integrated back into NuPIC proper?

[2018-06-12 17:05] rhyolight commented on #316
That's an entirely different discussion! Feel free to bring it up on the forum.

[2018-06-12 17:18] cogmission commented on #316
@rhyolight [Ask and you shall receive!](https://discourse.numenta.org/t/research-repository-the-road-ahead/4016)

[2018-06-12 18:04] rhyolight commented on #316
Ok, here is the status. The best numbers we are getting now are in #319, including a README update to add `--optimize`. We think the first set of numbers we used were because of a manually chosen random seed, which tends to make a difference.

So we are going to merge the PR with updated numbers. David there is nothing you need to do here, I am just letting you know that we have to adjust the numb

[2018-06-12 18:09] #316 closed

[2018-07-04 21:12] alaineiturria opened #321 "miscalculation of scores"
To calculate the size of the windows, is it calculated considering the number of anomalies per data set present in the combined_labels.json file or those present in the combined_windows.json file?

I have been able to observe that the scores in the results/null/null_standard_scores.csv file are obtained using the combined_windows.json file, however, it seems to me that the anomalies present in com

[2018-07-05 18:36] subutai commented on #321
The window size calculation is described in the paper: "we define anomaly window length to be 10% the length of a data file, divided by the number of anomalies in the given file."

For each data file, the number of anomalies and their centers are given in the combined_labels.json file. The resulting windows are then put in combined_windows.json. This whole process is run by the [combine_labels.py]

[2018-07-05 18:36] #321 closed

[2018-07-09 06:18] phypor opened #322 "how to understand ExtremeLowDensityModel?"

[2018-07-09 06:18] #322 closed

[2018-08-02 21:17] #245 closed

[2018-08-02 21:18] #317 closed

[2018-08-28 19:00] rsyoung96 opened #323 "Segmentation Fault on Mac OS X"
When I run NAB run.py, I get a segmentation fault with code 11. I installed NAB and Nupic using pyenv after a lot of problems with conda. Here's the basic information, happy to provide more as necessary.

[code]

[2018-09-03 12:33] evgenij1987 opened #324 "negative (and pretty big) numbers in final results"
Hi,
a have the following problem. I am trying to evaluate EWMA algorithm using NAB and get the following results:
"EWMA": {
        "reward_low_FN_rate": -239.29681425287356,
        "reward_low_FP_rate": -897.695072875,
        "standard": -404.6348765517242
    }

Do you have any hint, why I get these negative (and pretty big) numbers?

Thank you in advance.
[EWMA.zip](https://github.com/numenta

[2018-09-05 00:03] scottpurdy commented on #324
@evgenij1987 - Thanks for reaching out.

First, just to check. Have you run all steps in the right order? Something like this:

`python run.py -d YOUR_DETECTOR_NAME --detect --optimize --score --normalize`

If the problem is still there then we can check the optimizer. The optimize step should ensure that in the worst case, no detections are made and you get a score similar to null detector (`0.0`

[2018-09-05 15:51] rhyolight commented on #323
I do not think `pip install nupic` works on the latest versions of High Sierra. See https://github.com/numenta/nupic/issues/3851.

To run NuPIC you may need to compile it locally. See the README for instructions.

[2018-09-06 07:39] evgenij1987 commented on #324
Hi! Thank you for your response.
I was running actually only: `python run.py -d EWMA  --optimize --score --normalize` since I used a Java implementation of EWMA and thus just provided the anomaly scores in `results` folder. Every file with anomaly scores I created with the following columns:
`timestamp,value,anomaly_score,label,S(t)_reward_low_FP_rate,S(t)_reward_low_FN_rate,S(t)_standard
`
The `a

[2018-09-06 17:05] scottpurdy commented on #324
What about setting the threshold to `1.1` just to make sure that there are no detections? The results should match the null detector. If not then can you share the file with your detections?

[2018-09-07 06:27] evgenij1987 commented on #324
So I tried 1.1 now. The results match the null detector as you said. But what does it tell me now?
Obviously setting threshold to 1.1 means that all anomaly scores from the EWMA detector are just ignored in regard of the final score. So does it mean there is no way to score the algorithm better than the null detector? I mean it should be at least as good as the random detector, but correct me if I

[2018-09-07 07:03] scottpurdy commented on #324
Ok so the optimizer is erroneously setting the threshold to <=1. But now the question is why doesn't lowering the threshold to allow some detections improve the results over the null detector? Because there are many false positives. Normally, algorithms have varying confidence for different detections so the optimizer can find a threshold that includes a few high confidence anomalies but excuses t

[2018-09-10 20:30] rsyoung96 commented on #323
Thanks, that worked. I used `pyenv shell 2.7`, cloned the NuPIC repo, used `pip install .` in nupic, and then used `pip install . --user` in NAB.

[2018-09-10 20:30] #323 closed

[2018-12-23 23:38] avm-ru-cs opened #326 "Calculation of TP and FN"
I am exploring Option 2 of the NAB Entry Points (NAB source code obtained today via `git clone https://github.com/numenta/NAB.git`. While doing so, I got confused about how optimizer selects the best anomaly threshold. An example is given below.

Assume that `t_i` and `t_{i+1}` are within an anomaly window. The resulting file will have a number of observations, e.g.:

|timestamp | value | anomaly_

[2018-12-24 17:59] avm-ru-cs opened #327 "Counting incorrect number of TP"
Here is another issue that may be related to #326.

Optimizer correctly selects anomaly threshold of `0.5` for attached file [alpha_ec2_cpu_utilization_5f5533.csv.zip](https://github.com/numenta/NAB/files/2707653/alpha_ec2_cpu_utilization_5f5533.csv.zip). However, in the `*_score.csv` it reports that there are 4 true positive values present. In fact, the file `alpha_ec2_cpu_utilization_5f5533.csv`

[2019-01-07 23:48] rhyolight commented on #326
Thanks for creating this. I have a couple of NAB PRs to work on this week, so I'll look into this then.

[2019-01-08 16:38] avm-ru-cs commented on #326
Thank you, @rhyolight! If you need any additional info -- please let me know.

[2019-01-09 19:58] FavorMylikes opened #329 "Have you been try to calculate 0000000->1111111?"
0000000 is labeled by human
1111111 is labeled by code
What the score of that?
All of false positive seem be counted by your sigmoid code.
And the score is -7*fp_weight.
It looks less than S_null.
Is that right?

[2019-01-10 04:13] FavorMylikes commented on #329
Code at NAB/nab/scorer.py line 215 to line 219.
I just wanna reproduce the scale sigmoidal function to compare my result.
And, I don't know why it usually give me a negative score.
weight use tp,fn,fp,tn = (1,1,0.11,1)

[2019-01-10 20:32] rhyolight commented on #329
I am studying up on the scoring mechanism. Will be back with a comment tomorrow hopefully.

[2019-01-11 17:34] rhyolight commented on #329
@FavorMylikes This scoring logic is likely going to change soon, so I'm going to put this off until #328 is resolved.

[2019-01-12 00:16] FavorMylikes commented on #329
Is there anything I can do?

On Sat, Jan 12, 2019, 1:34 AM Matthew Taylor <notifications@github.com
wrote:

[2019-01-14 17:05] rhyolight commented on #329
Sure, can you clarify exactly what you mean by 0000000 and 1111111? And the human / code? I guess I still don't really understand your question.

[2019-01-14 17:17] FavorMylikes commented on #329
1 means anomaly,
0000 means there is no anomaly in timeseries
1111 means all of value in timeseries is anomaly.
By human means that there is a man think it is a outlier if the label is 1.
By code means detector think it is a outlier if the label is 1

On Tue, Jan 15, 2019, 1:05 AM Matthew Taylor <notifications@github.com
wrote:

[2019-01-14 17:44] FavorMylikes commented on #329
And
(Human, detector)
(1,1)means truepositive
(0,1)means falsepositive

On Tue, Jan 15, 2019, 1:16 AM 最爱麦丽素 <l786112323@gmail.com wrote:

[2019-01-14 17:56] rhyolight commented on #329
Have you read this paper? https://arxiv.org/abs/1510.03336

![img_0335](https://user-images.githubusercontent.com/15566/51130677-6705ec80-17e2-11e9-997b-a81e53327418.jpg)

It explains the logic better than I understand it. The folks who wrote this code are no longer contributing to the repository, but if you are just trying to understand the scoring, you should read that paper.

[2019-01-14 18:46] FavorMylikes commented on #329
Yes, sure, I have read it. And follow it found git address.
I think you should know the code is very difference with the paper, there
is no -3 in Python file, it be changed to -1, and so on, I know why he use
sigmoidal function, but you can find why here appears so many issues about
the minus score in the repository, this is the reason why I ask this
question.

On Jan 15, 2019 1:56 AM, "Matthew Ta

[2019-01-14 22:14] rhyolight commented on #329
@balladeer Maybe you can help me understand this. @FavorMylikes says the current scoring implementation is different from what is in our paper. You have obviously studied this recently, can you comment?

[2019-01-15 01:06] balladeer commented on #329
I assume that in this example there is no previous anomaly window.  This is important, as the presence of a previous window determines whether we use lines 215-219 for scoring or lines 220-225.

Lines 215-219 are basically just a shortcut to mimic the case of "there was a previous anomaly window, but it was really far back".  That case is handled down on [line 284](https://github.com/numenta/NAB/b

[2019-01-15 04:53] FavorMylikes commented on #329
Yes！That is what I was talking about.
For randomly detector, it is very possible to generate a all anomaly window
assert.
And the reason in paper  to explain why randomly detector has a positive
score is **optimizer**.
I think you just to adjust the weight let all of value be a anomaly.
It is real bad idea.
My suggest.
Just use sigmoidal function to adjust vector <tp,fp,fn,tn> and recalculate
f1 s

[2019-01-15 18:27] earthgecko opened #331 "nab_visualizer handle raw_score"
Changes that appear to have been made between nab v1.0 and the current master in terms of the addition of a raw_score field to the numenta_ and numentaTM csv results files seems to have broken nab_visualizer.html

[2019-01-15 18:43] earthgecko commented on #331
PR #332 fixes this.

[2019-01-16 09:34] #331 closed

[2019-01-18 19:24] earthgecko opened #333 "Disable skyline detector by default"
Disabling the skyline detector by default going forward will decrease the default run.py run time significantly.

The intention here is to not deprecate the skyline detector but make it so that it must be declared in an argument to be run.  This way it can still be used in > v1.0 scoring, but the general community is not subjected to the cost on the time and computation overhead of scoring with th

[2019-01-22 17:43] rhyolight commented on #333
Good initiative! I'm not sure when we will be ready to push a version but this will be included in it. Thanks @earthgecko.

[2019-02-13 07:09] minkyung-kim17 commented on #300
There is still mismatch in the data. (`realAWSCloudwatch/iio_us-east-1_i-a2eb1cd9_NetworkIn.csv`)
![image](https://user-images.githubusercontent.com/29730975/52693246-817de200-2fa9-11e9-8ba3-de55c96aa77d.png)

Also, there is one window with two anomaly. (`Twitter_volume_CVS.csv`)
In this case, how measure anomaly detector performance?
![image](https://user-images.githubusercontent.com/29730975/526

[2019-02-13 16:36] subutai commented on #300
Hmm, good point. That looks like a bug in the window creation code.  Not sure why that happened.

This is surprisingly common in streaming data. In these cases we treat this as one anomaly. Earlier detections get preference.

[2019-03-14 21:39] pramitchoudhary opened #334 "Labels(ground truth) mismatch"
Just to be sure on the reported ground truth. There seem to be some confusion in regards to which is the recommended .json  file to use for Ground Truth Labels
1. combined_labels.json
or
2. known_labels_v1.0.json

The difference noted so far:
For realAdExchange/exchange-2_cpc_results.csv: As per data description does not contain any outliers or anomalies; however `combined_labels.json` seems to re

[2019-03-15 16:55] subutai commented on #334
I believe the description in the README is incorrect.  If you look at the raw human labels, two of the three labelers noted an anomaly in the same spot.

I'm also not sure why it's in the known_labels_v1.0.json file. The only datasets which we knew labels beforehand are in the realKnownCause and artificial subdirectories.

Thanks for the catch - to avoid future confusion, we should fix the README

[2019-03-15 18:40] pramitchoudhary commented on #334
Thanks for the update @subutai.
So to be sure, you would suggest using `combined_labels.json`.
Will it be possible to confirm the reported anomalies for other datasets such as `exchange-3_cpc_results.csv` as detailed in `combined_labels.json`?

[2019-05-01 13:25] NoamGit opened #336 "Understanding CAD OSE"
Hi,

I am trying to understand the CAD-OSE, however since @smirmik lacks proper documentation, I find it to be a tough and very frustrating task.
I am familiar with the ideas of HTM, and I am trying to build the right analogies for the code. Especially, I find the memory storage structure, context, and facts unintuitive.
I would like to understand the following:
- What is the right and left parts

[2019-05-01 15:39] subutai commented on #336
Good questions. Hopefully @smirmik will respond. It would be good to have a better understanding of this (externally contributed) algorithm.

[2019-05-02 04:42] smirmik commented on #336
Hello @NoamGit ,

Thank you for your interest!

I have some health problems with my spine and I can not sit at the computer for a long time. I am on treatment. However, your panic in all repositories and in e-mail forces me.

CAD Based on my Contextual Memory (CM) project. CM was developed to create a General Artificial Intelligence model. I was looking for a solution for more than 18 years and on

[2019-05-08 09:22] breznak commented on #212
Bump: I'll revisit this task. You can assign me to it, if you want. If someone wants to join/help, please do!

[2019-05-08 09:49] breznak opened #337 "Add htm-community/nupic.cpp HTM to the algorithms"
We'd like to compare the results with the community HTM fork, that is still actively developed and has many new changes, features. This is tracked in https://github.com/htm-community/nupic.cpp/issues/205

 - I'll see if we can run (API compatible) with numenta_detector.py,
 - or if I'll create a new runner script.

[2019-05-08 09:51] breznak opened #338 "Doc: add example how to create a new/custom model for NAB competition"
I guess I could find this in the sourcecodes, but having these would help:
- [ ] a Readme section for adding a new detector/algorithm, with NAB API usage
- [ ] a link to a demo code

From #337

[2019-05-08 09:59] breznak commented on #217
Revisiting this. Your decision sounds fair, I'll setup a `NAB.synthetic`.
- NAB: show how algorithms behave really (in real life examples)
- NAB.synthetic: explain why/where the algorithms fail (to detect)

[2019-05-08 10:04] breznak opened #339 "Add LSTM model"
- [ ] As LSTM is one of the state of the art for timeseries prediction.
- [ ] It's possible that some of the detectors (names like "skyline") actually use LSTM, then the readme should say what AI model is used there, instead of nothing saying "commercial name" only.

[2019-05-08 10:10] breznak commented on #212
Is there some doc on how to add new datasets? I've read https://github.com/numenta/NAB/tree/master/data
- does every model need to be adapted to run on a newly added data
  - or is there some encoding API which the dataset needs to implement?

[2019-05-08 16:01] breznak commented on #333
@earthgecko this can be closed as fixed (?)

[2019-05-08 16:40] earthgecko commented on #333
Hi @breznak yes #335 closes this.  Done.

[2019-05-08 16:40] #333 closed

[2019-05-10 23:15] subutai commented on #217
👍

[2019-05-10 23:18] subutai commented on #212
Please see the whitepaper: https://github.com/numenta/NAB/wiki#nab-whitepaper

Adding new datasets require putting in the CSVs, creating manually verified labels, and then adding it to the appropriate JSON files. Once we have enough new data, we can add it to NAB and then bump the version. NAB 1.0 should stay as is.

[2019-07-09 16:36] breznak opened #343 "Add "copy" model as baseline"
I'm not sure what's the correct name, but `T(n+1) = T(n)` predictor. It's dummy but quite good baseline.

[2019-07-09 17:29] breznak opened #344 "Add CI tests"
There was #117, but I'm not sure the CI is running?

https://travis-ci.org/numenta/NAB
(I cannot see the Travis logs, but seems latest pass is 2yrs ago!)

[2019-07-09 17:33] breznak opened #345 "Remove duplicate files in py3 branch"
This is for PR #341
I noticed some files are the same and could be deduped.

nab/detectors/htmjava/src/main/resources/log4j.properties
nab/detectors/htmjava/nab/detectors/htmjava/src/main/resources/log4j.properties
nab/detectors/htmjava/src/main/java/nab/detectors/htmjava/HTMModel.java
nab/detectors/htmjava/nab/detectors/htmjava/src/main/java/nab/detectors/htmjava/HTMModel.java
nab/detectors/htmja

[2019-07-09 17:33] breznak commented on #345
CC @iandanforth

[2019-07-09 18:35] breznak opened #346 "Cannot run numenta detector in python 2"
according to Readme in branch #341

I needed a few changes to get nupic (numenta detector) install at all.

Then it seems to be running, but does not at all?

(env2) mmm@mmm-U2442:/mnt/store/devel/HTM/NAB$ python nab/detectors/numenta/run.py -d numenta --detect
{'dataDir': 'data',
'detectors': [],
'numCPUs': None,
'profilesFile': 'config/profiles.json',
'resultsDir': 'results',
'skipConfirmation':

[2019-07-09 18:43] breznak commented on #346
See https://github.com/iandanforth/NAB/pull/8 but it does not fix the issue, just makes me able to install nupic.

[2019-07-10 12:44] breznak commented on #343
- [x] prediction model implemented easily
- [ ] how to compute anomaly score with this model? from 2 scalars current & predicted.

[2019-07-10 12:55] breznak opened #348 "[Q] Allow error metrics to compare models without anomaly score?"
- on a "strategic" level
  - [ ] can we include metrics to compare models (additionally) by sth else than anomaly score, comapre by the metric?
- implementation:
  - [ ] I'd like to add MSE, R2 metrics
  - [ ] (opt) extend API to enforce algorithms to give also prediction (appart from anomalyScore), so we can compute these metrics for all algs? `E(current, predicted) -> Real`

Justification:
 - fo

[2019-07-10 15:06] breznak opened #349 "Is optimizer working correctly?"
I've implemented a new, simple detector, see #347

Now it runs, but when I get to optimizer stage, nothing is improved and weird thresholds are outputed. Is it that the detector is just that bad, or the optimizer is not working?

Optimizer found a max score of -116.0 with anomaly threshold 1.1.
Optimizer found a max score of -116.0 with anomaly threshold 1.1.
Optimizer found a max score of -232.0

[2019-07-14 14:39] iandanforth commented on #346
Fascinating bug. See https://bugs.python.org/issue10981.

- I had removed --detect as a valid argument (that's all this version of run.py does)
- Argparse supports *abbreviations* for long arguments, see: https://docs.python.org/2.7/library/argparse.html#argument-abbreviations-prefix-matching
- This meant that `--detect` was being interpreted as an abbreviation of `--detectors`
- In the command pr

[2019-07-14 15:35] iandanforth commented on #345
@breznak Thank you for reporting these issues

__Duplicate java files__

Agree, will remove

__Common py2 files__

There is certainly redundancy here. The current setup prioritizes consistency of the `detectors/` directory structure. Perhaps @rhyolight can review this ticket and the below options and make a call.

Current
[code]

Replicate `nab\detectors` structure under `py2\`
 - Removes code red

[2019-07-14 20:27] breznak commented on #346
Tips had how did you figure this! :) Bugs never cease to amaze us.
Thanks for providing a fix

[2019-07-14 20:32] breznak commented on #345
I can retest later this week, but I've tested, documented and made automated the process, please see these PRs to your repo :

https://github.com/iandanforth/NAB/pull/9
https://github.com/iandanforth/NAB/pull/8

Worked fine for me with py3 setup + py2 available.

[2019-07-24 10:39] breznak commented on #244
There hasn't been any progress on this issue.

@smirmik Can you release the dataset as CreativeCommons license

and submit it as a dataset here, or to community NAB https://github.com/htm-community/NAB  ?

Then we can repreduce the issue with "optimizer not finding best results"

[2019-07-25 07:46] breznak opened #350 "Bias in "streaming" datasets by API offering minValue,maxValue from base.py"
The abstract class `AnomalyDetector` (from `base.py`) dictates in its API min/max bounds of the dataset.
https://github.com/numenta/NAB/blob/master/nab/detectors/base.py#L47

This is a bias as it makes it easier for encoders to choose optimal settings. In real life on streaming datasets such value is not know. And encoders have to deal with the fact (using encoder that does not require fixed bound

[2019-07-25 07:47] breznak commented on #350
CC @ctrl-z-9000-times what do you think? We'll fix this for community/NAB

[2019-07-25 14:42] ctrl-z-9000-times commented on #350
I don't like this change.
- It is not unreasonable to know the physical limits of the sensor.
- It will break the code.

[2019-07-25 14:55] breznak commented on #350
this is true, on the other hand, "optimizing" bounds exactly for a dataset is a bias.

A compromise to what you're saying?: Make min/max known, but is computed from ALL datasets.
  - that more precisely describes what you say

[2019-07-26 12:29] ctrl-z-9000-times commented on #350
The way I see it is that each dataset was probably recorded using a physical device (the sensor) which has well known limitations on the range of values it can record.  Although the NAB data sets did not save the min/max value of the sensor hardware, it can safely infer them.

[2019-07-26 18:41] smirmik commented on #350
In real projects, many sensors that provide data for the anomaly detection, give values that are calculated from a variety of indicators. Therefore, it is impossible to know the range of possible values, since it is not physical equipment.

Sorry for my intervened  :)

[2019-07-26 19:35] smirmik commented on #350
Minimum i maksimum.

V programnykh kompleksakh obnaruzheniya anomaliy arkhitekturoy opredelon sposob polucheniya dannykh. V nekotorykh sistemakh mozhno znat' maksimum i minimum iznachal'no. V nekotorykh sistemakh vy mozhete ispol'zovat' pervyye N semplov, chtob sistema reshila kakoy diapazon znacheniy dopustim i proizvela vnutrennyuyu optimizatsiyu nastroyek detektorov. V nekotorykh sistemakh dazh

[2019-07-26 19:42] smirmik commented on #349
See PR #244

[2019-07-26 19:48] smirmik commented on #244
@scottpurdy solved this problem in #257.   But it was not included in the main branch.

[2019-08-09 10:10] breznak commented on #337
Update: I have added HTM in python 3 from `htm.core` repo as HtmcoreDetector in NAB, for now you can use the community NAB: https://github.com/htm-community/NAB/
If you want, when this repo is ready transitioned to py3, I can make a PR here too.

[2019-08-14 16:59] enthu-sh opened #351 "Issue in interpretaion of labels"
I want to use realAWS dataset for anomaly detection. But the labels for anomalies are not clear. In the labels folder, there are two files: combined_labels.json and combined_windows.json. In these two files for the system the entries do not match. For example:

"realAWSCloudwatch/ec2_cpu_utilization_24ae8d.csv": [
        [
            "2014-02-26 13:45:00.000000",
            "2014-02-27 06:25:00

[2019-08-14 23:34] subutai commented on #351
The labels represent individual ranges labeled by humans.

NAB uses anomaly windows for scoring because the anomalies are temporal and can span a period of time. These windows are in combined_windows.json and calculated from the individual labels as described in the appendix 'Appendix B: Label combining algorithm' in the [NAB whitepaper](https://github.com/numenta/NAB/wiki#nab-whitepaper)

Sometim

[2019-08-22 14:01] Fisch-Alex opened #352 "Including data from NAB in an R package."
Hi,

We are in the process of writing an R package and found that some data sets from NAB provided nice examples for the methods it contains. We were therefore wondering if it would be possible for us to include some of your data sets in the R package at all? If so would there be any requirements other than citing Ahmad et al (2017)?

Thanks in advance!

Best wishes,
Alex

[2019-08-28 23:12] #352 closed

[2019-11-18 13:14] michellecindy opened #357 "Sweeper / scorer results do not seem to match when running NAB"
I want to use NAB to run some experiments for my thesis, but when I run the latest version from github (before the upgrade to Python 3) commit, I get very different results. I was digging into it and I think I found where it is going wrong, it seems to be happening because of Sweeper. I am not sure what has been changed exactly since adding the Sweeper function in January 2019, but I think somethi

[2019-11-18 18:43] rhyolight commented on #357
Thank you for the report, @michellecindy.

I want to try and replicate this with the least effort possible. Do you see this problem for every detector, or just the nupic detectors?

I will try to replicate then with this commit in Python 2, correct? https://github.com/numenta/NAB/commit/4346b673df9f57707260797faa9dabb72fb0a5ed

As a part of the move to Python 3, I ran all the detectors thorugh NAB

[2019-11-18 18:49] rhyolight commented on #357
I don't think I am going to do this now, because I realized that you probably just picked a SHA far enough back and tested it. You suggested sweep scoring had something to do with this, so I will target the changes that occurred in https://github.com/numenta/NAB/pull/328 and run NAB before / after.

[2019-11-18 19:17] rhyolight commented on #357
@michellecindy Can you help out? I am getting the same results I got when I validated #328. I don't see the -0.11 results for true negatives. Can you checkout 4346b67 and run `python run.py --score --normalize`. It should not take too long. Then look at the `final_results.json` file so we can compare. Mine only contains the insignificant differences I noted in https://github.com/numenta/NAB/pull/3

[2019-11-18 19:40] rhyolight commented on #357
Just to double check, I also ran at 4346b673df9f57707260797faa9dabb72fb0a5ed (the one you ran and said was good) and 4346b673df9f57707260797faa9dabb72fb0a5ed (the last python 2 SHA). Both of them looked good to me (only minor number rounding differences).

Are you actually running the detectors? The problem might not be with the scoring at all. Perhaps something is not right with your detector run

[2019-11-18 21:56] michellecindy commented on #357
Hey Matthew,

I wasnt running any of the (real) detectors yet, I noticed this when
running the random detector. To reproduce for example try running the
combined windows tiny file with random detector and then detect, optimize
and score. Then you should get the weird results in the result csv data
files for each separate data point (so not the totals file).

On Mon, 18 Nov 2019 at 20:40, Matthew T

[2019-11-18 23:20] rhyolight commented on #357
The CSV files you're referring to are intermediary files, not the final scores. If you were showing that different final results were appearing in `final_scores.json` after running `python run.py -d random --score --normalize`, I would be concerned.

Why do you think this?

[2019-11-19 08:44] michellecindy commented on #357
Yes so the final score for a certain detector is based on these intermediary scores if I understand it correctly? I think something is going wrong because if I run:
`-d random --detect --optimize --score --windowsFile labels/combined_windows_tiny.json `
and look at the intermediary scores it shows -0.22, -0.11, -0.11 (using the default thresholds) for all rows, which means all these rows are score

[2019-11-21 16:40] rhyolight commented on #357
I am still investigating, thanks for the response.

[2019-11-21 17:54] rhyolight commented on #357
So @michellecindy at this point I'm not sure what you have reported is actually a problem with the scoring, because you've not actually run the detectors and updated the final scores. We haven't been able to successfully run the command you gave above. If you run a detector and score it, and update the final results, and there is a discrepancy at that point I would be concerned. If you can show th

[2019-11-23 12:48] michellecindy commented on #357
Hi Matthew, to clarify again: I did run the (random) detector and I think
there is a problem with the scoring function. I think you cannot reproduce
it because to score it uses all already created results files, so if you
first delete all result files in the results/random folder and then run the
command above you should be able to reproduce it. If not, can you tell me
where it is going wrong in r

[2019-11-25 16:53] rhyolight commented on #357
If what you are saying is correct, then our *final results* might be wrong. Is that true?

[2019-11-25 16:58] rhyolight commented on #357
@michellecindy BTW thank you for your patience. I am not very familiar with this codebase.

[2019-11-25 16:59] michellecindy commented on #357
I think the results in your github are not wrong, because it looks like
they have not be re run since the last changes

On Mon, 25 Nov 2019 at 17:53, Matthew Taylor <notifications@github.com>
wrote:

[2019-11-25 21:24] rhyolight commented on #357
I checked out two SHAs and ran this command, to compare the `final_results.json` file at each time:
- 47a3452a2900698dcebc04bb9a625079a550e7f1 (before sweep code was added)
- f83024b21329afc881eccd066aad7c2bc3bb8518 (after sweep code was added)

The command I ran was: `python run.py -d random --detect --score --optimize --normalize`. The pertinent diff between the `final_results.json` file from be

[2019-11-25 21:24] #357 closed

[2019-12-17 10:02] ritesh99rakesh opened #361 "Unable to run score"
I was trying to run my own algorithm on the NAB datasets as per option 1 on https://github.com/numenta/NAB/wiki/NAB-Entry-Points
Till optimize function, everything works fine but following error occurs while scoring
[code]

[2019-12-31 00:20] kdlin opened #362 "Where are the labels in the CSV files?"
Can someone please explain how I can get the labels? The data are stored as CSV files with timestamps and values only.  Aren't they supposed to be labeled data? Thanks.

[2019-12-31 02:05] subutai commented on #362
Please see the directory named `labels` and the [NAB whitepaper](https://drive.google.com/file/d/0B1_XUjaAXeV3dW1kX1B3VkYwOFE/view?usp=sharing) (referenced from the [wiki](https://github.com/numenta/NAB/wiki))

[2019-12-31 02:05] #362 closed

[2019-12-31 02:06] #22 closed

[2019-12-31 02:06] #53 closed

[2019-12-31 02:07] #228 closed

[2019-12-31 02:07] #244 closed

[2019-12-31 02:07] #258 closed

[2019-12-31 02:07] #296 closed

[2019-12-31 02:07] #298 closed

[2019-12-31 02:07] #300 closed

[2019-12-31 02:07] #324 closed

[2019-12-31 02:07] #326 closed

[2019-12-31 02:07] #327 closed

[2019-12-31 02:07] #329 closed

[2019-12-31 02:07] #334 closed

[2020-01-01 16:15] avm-ru-cs commented on #326
Hi @subutai,
Could you please tell me, was the issue fixed? I do not see any code commits associated with it.

[2020-01-01 16:15] avm-ru-cs commented on #327
Hi @subutai,
Could you please tell me, was the issue fixed? I do not see any code commits associated with it.

[2020-02-05 15:10] breznak commented on #337
@rhyolight would you accept `HTMcore` detector in this upstream NAB? We have it implemented for python3 in community/NAB (I'll make some modifications)

[2020-02-05 15:37] breznak opened #363 "Overflow when running random, bayesian CP detectors (in scipy)"
I've installed this new NAB and test by running all default detectors.

I'm observing so random overflows logged:

[code]

Eg. this:

. . . . . . . . . . . . . . . . . . . . /mnt/store/devel/HTM/pyenv3/lib/python3.6/site-packages/scipy/stats/_continuous_distns.py:5750: RuntimeWarning: overflow encountered in multiply
Px /= np.sqrt(r*np.pi)*(1+(x**2)/r)**((r+1)/2)

[2020-02-05 19:17] rhyolight commented on #363
@breznak What environment are you running this in?

[2020-02-06 08:30] breznak commented on #363
I'm on current master, ubuntu 18.04, python3.6,

installed with

run command:

pip list:

[code]

[2020-02-06 23:03] rhyolight commented on #337
Yes we would accept it after I ran it to test it out.

[2020-02-10 17:14] rhyolight commented on #363
I am going to start work on this today in the appropriate docker setup.

[2020-02-11 21:29] rhyolight commented on #363
I have replicated this error in Ubuntu 18.04 in both Python 3.6 and 3.7. Unfortunately, I only tested this on macOS in Anaconda and Python 3.7. Standby I need to talk to the team about how to fix this.

[2020-02-12 09:25] breznak commented on #363
if it works in OSX, seems it's not in our code per se but some numeric instability in the computations. Might help
- try updating scpipy, numpy?

[2020-02-13 16:19] rhyolight commented on #363
It is a scipy dependency problem in the Ubuntu environment. I set up bad env just like you in docker. Here is a docker command that will work:

    docker run -it -v `pwd`:/nab python:3.7 /bin/bash

Then run:
[code]

So this works in 3.7. I am testing 3.6.

[2020-02-13 16:39] breznak commented on #363
have you been able to pin-point the problem to which version, of scipy or its dependency it is in?

[2020-02-13 16:56] breznak commented on #363
Seems `random ` runs just fine, so only in Bayes. This is a minimal reproducer for me:
`python run.py -d bayesChangePt --detect --optimize --score --normalize -n 8      `

I do not think the err is solved by running Docker env. (Maybe the warning is just silenced there?)

It seems in NAB we should set proper `dtype`,
https://stackoverflow.com/questions/7559595/python-runtimewarning-overflow-encoun

[2020-02-13 22:27] rhyolight commented on #363
I don't know which scipy version is the problem. Why don't you think the error is solved by running in Docker? It ran find and produced results.

[2020-02-14 14:19] rhyolight commented on #363
Because I could only replicate this with a bad python environment, I'm going to assume this is a python environment problem. It works fine with the `python3.7` docker image.

[2020-02-14 14:19] #363 closed

[2020-02-14 14:51] breznak commented on #363
not a priority, but I thought only py2 detectors have to run in Docker, others should run on normal linux/osx.

[2020-02-17 16:40] rhyolight commented on #363
Not sure what you mean. Docker is normal linux. You just have something wrong with your python dependencies. The fact that I can run a docker command with the defacto standard python3.6 & python3.7 builds and run NAB shows this.

[2020-04-22 11:23] liuyuqingNKCS commented on #361
I got the same problem, but still don't know how to fix it.
However, I think there must be something wrong in the **scoreDataset** function in **sweeper.py**, cause I found the logic below may return `None` for `matchingRow`. And then lead to the problem mentioned above.

[code]

[2020-04-26 06:06] linmengnan opened #364 "How can i use my own data to detect outliers with numenta"
I want to use my data whithout label to detecet ouliers, first i put my data into data, then i run
  python run.py --dataDir /home/linmengnan/NAB/data/CTR_data/5281063146_10.csv, but it reported an error
<img width="1108" alt="WeChat90295366a016bc947d073fb861c4726b" src="https://user-images.githubusercontent.com/51906636/80299442-f7ddbd00-87c6-11ea-9f7d-f1e276685fe3.png">
Did I make any mistakes o

[2020-05-14 19:47] swissbeats93 commented on #336
Hi,
Have there been any public updates made with regard to CAD OSE?

[2020-05-14 20:15] subutai commented on #336
@swissbeats93 No updates as far as NAB is concerned.  (Closing this issue, since there's no bug here.)

[2020-05-14 20:15] #336 closed

[2020-05-15 09:43] linmengnan opened #365 "Test own data get a Typeerror"
When i use numentaTM test my own data that have 10080 records, i get a error as follows:

[code]
Then, I use the same method to run only 1000 records in the data and it works,  So I think it is the reason for the large amount of data, What can I do to solve it , Thank you!

[2020-05-15 09:44] #364 closed

[2020-05-26 11:52] szympie opened #366 "Sweep score calculation for tp and fp"
During calculation of sweep score, if the anomalyPoint is in the anomaly windows you divide by windowWidth (https://github.com/numenta/NAB/blob/master/nab/sweeper.py#L176) and if the anomalyPoint is outside the anomaly window, you divide by windowWidth - 1 (https://github.com/numenta/NAB/blob/master/nab/sweeper.py#L188) is there any reason for it or is it a bug?

[2020-06-18 11:42] gireeshkbogu opened #367 ""normalProbability" function in windowedGaussian_detector.py seems wrong"
Why does it say in "normalProbability" function in windowedGaussian_detector.py seems wrong `windowedGaussian_detector.py`?

[2020-06-19 11:02] ankitnayan commented on #350
Any ideas on how to solve this? This does not make sense for streaming data, even for stock market timeSeries data. I can update the model everyday with new Max and Min, but that's against the philosophy of onlineML. Anybody got any idea on how to solve this?

[2020-06-19 15:33] subutai commented on #350
It's a valid point, and one we discussed quite a bit. We chose the current method due to the very high dynamic, but known, range of some of the streams. We found in practical applications this assumption (knowing the min/max) was valid in most cases.  Dynamically figuring out min/max is a hard task, and beyond the scope of the NAB dataset. Maybe it's something that could be addressed in a future v

[2020-07-20 19:40] bhatiasiddharth commented on #361
@rhyolight @subutai: Can you please fix this or give a lead as to what is causing the problem mentioned here? Thanks.

[2020-07-20 22:24] AMK13 opened #368 "Issue while trying to run custom anomoly detection algoritham using path 1"
Hi, I am facing an issue when trying to run my detector using "python run.py -d pyod" where pyod is the detector I am trying to use.

I get the following error, any feedback on how to proceed will be helpful.

Proceed? (y/n): y
Traceback (most recent call last):
  File "run.py", line 202, in <module>
    main(args)
  File "run.py", line 68, in main
    detectorConstructors = getDetectorClassConstr

[2020-07-22 00:35] subutai commented on #361
We'll take a look - give us a couple of days. The function may make some assumptions about allowable values.

[2020-07-22 02:25] lscheinkman commented on #368
You need to import your detector from `run.py`.
[code]

[2020-07-22 02:26] lscheinkman commented on #361
@bhatiasiddharth Can you verify if the `anomalyScore` returned by your custom detector `handleRecord` method is a floating point number between 0 and 1?

[2020-07-22 05:09] bhatiasiddharth commented on #361
No it is not. Does it need a score between 0 and 1 only?

[2020-07-22 06:17] lscheinkman commented on #361
Yes, the raw anomaly score must be a number between 0 and 1.

[2020-07-22 06:44] bhatiasiddharth commented on #361
Sure, thanks.

[2020-07-22 14:17] lscheinkman commented on #361
Let me know if it works for you

[2020-07-22 14:20] bhatiasiddharth commented on #361
Currently, the algorithm I am trying does not give scores between 0 and 1. I need to think how to do it. Once I try, I will let you know. Thanks.

[2020-07-22 15:28] subutai commented on #361
Perhaps you can pass it through a sigmoid, or similar function to get the output in range? As long as it's a monotonic function, it shouldn't matter at all since we are just thresholding the score.

[2020-07-24 16:09] bhatiasiddharth commented on #361
Thanks for letting me know. It worked.

[2020-07-29 23:58] Tann10 opened #370 "Error while running python run.py -d expose --detect --optimize --score --normalize"
I am getting a value error when I am trying to run the package. Error is "ValueError: anomalyScore must be a number between 0 and 1. Please verify if 'ExposeDetector.handleRecord' method is returning a value between 0 and 1" I am also attaching a screenshot.
![error](https://user-images.githubusercontent.com/54607338/88865301-d0542180-d207-11ea-9baa-4cd692be6e3a.PNG)

Any help is appreciated! Than

[2020-07-30 04:48] subutai commented on #370
Thanks, this is due to a recent change in error checking. We're putting in a fix:

https://github.com/numenta/NAB/pull/371

[2020-07-30 05:04] #370 closed

[2020-07-30 12:12] Tann10 commented on #370
@subutai Great! Thank you for letting me know. I see the PR is already merged. I will pull recent changes.

[2020-10-13 13:42] Narduzzi opened #373 "Use probationary period at initialization"
I would like to create a custom model which requires a few epochs of training.

How should I write my detector such that it uses the probatory period?
Is there a way to access this probatory period data?

Thanks for your help!

[2021-01-09 09:24] AKgroup2000 opened #374 "I couldn't create new detector because"

[2021-01-09 09:25] AKgroup2000 commented on #374
File "scripts/create_new_detector.py", line 27, in <module>
    from nab.util import getOldDict, recur, writeJSON
ModuleNotFoundError: No module named 'nab'

[2021-01-09 09:25] #374 closed

[2021-02-06 20:49] cansubasak opened #376 "Duplicates in machine_temperature_system_failure.csv"
Duplicates with different observation values are as below.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
    </tr>
    <tr>
      <th>timestamp</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2014-01-07 02:00:00</th>
      <td>94.423406</td>
    </tr>
    <tr>
      <th>2014-01-07 02:05:00</th>

[2021-02-06 20:57] subutai commented on #376
These are not duplicates. They are spaced 5 minutes apart.

[2021-02-06 21:52] cansubasak commented on #376
Please check again. Timestamps for the first row (_2014-01-07 02:00:00)_ and the twelfth row (_2014-01-07 02:00:00_) are same. There are 24 observation points between 2014-01-07 02:00:00 and 2014-01-07 02:55:00. (namely for 1 hour). I coincidentally realized that there are 300 data points for the day _2014-01-07_ .

[2021-02-07 02:56] subutai commented on #376
Ah, thank you for pointing out the specifics. We had not noticed that before. Did you see if that happened elsewhere at all?

[2021-02-07 19:13] cansubasak commented on #376
No, I checked all points. For the other days it's correct (with 5 min time steps, without any duplicates).

[2021-06-15 18:16] g-luo opened #377 "Data source"
Hi! What is the data source for the AWS and ads data (ie who was the user generating this data, what kind of workloads were they running)? Was this data collected from Numenta's services?

[2021-06-16 00:09] subutai commented on #377
Most of the AWS data was collected from a distributed Numenta machine learning service called Grok.

The ads data files are from another company that had a very high traffic app. They collected metrics from a number of different companies that served ads on their platform.

[2021-07-12 20:39] #377 closed

[2021-07-12 20:41] g-luo opened #378 "Scoring Issue with ambient_temperature_system_failure.csv"
Hello! I am trying to run the scoring algorithm on my results but I keep receiving the error "AssertionError: timestamps and anomalyScores should not be different lengths!" -- it seems like the start and end timestamp are the same for my timestamps and anomalyScores lists, but some of the GT labels (timestamps) are missing.

Do you have any insight for why scoring is failing for me? Thanks! Also a

[2021-07-22 15:54] ir1979 opened #379 "results problem"
In the results files we have:   FP+FN+TP+TN != TotalNumberOfRecords. Why?

[2021-07-22 19:10] lscheinkman commented on #379
During the detection phase there is **probationary period** where no scoring is done. This probationary period is set at _750_ points for data files larger than _5000_ points or _15%_ of the total records for files shorter than _5000_.

**FP+FN+TP+TN** = Total number of scored data points (excluding probationary period)
**Total_Count** = Total number of data points in the dataset (including probat

[2021-07-22 20:25] g-luo commented on #378
bump! @lscheinkman

[2021-07-22 21:54] lscheinkman commented on #378
It looks like your file is missing **anomay_score** values for the following rows:

- 578-611
- 1308-1354
- 1629-1787
- 2053-2147
- 2397-2466
- 5788-5816
- 6171-6172
- 6317-6330
- 6562-6736

[2021-07-28 09:33] ir1979 commented on #379
Thanks

[2021-07-28 09:33] #379 closed

[2021-08-02 14:48] ir1979 opened #380 "Typo in the whitepaper"
Hi,
Page 15 of the whitepaper, in the standard profile, fp=0.11 and fn=1.0 is correct. Ok?

[2021-08-02 15:18] ir1979 opened #381 "How to consider probationary data"
Hi,
how to reproduce the results of the "null" detector such that "total_records_in_dataset - sum(TP, TN, FP, FN) = 750", i.e., the scorer skips the probationary part of the input data? Is there any specific switch (line argument) for run.py? Does the detector have to handle the first 750 records, itself?

[2021-08-02 22:35] g-luo commented on #378
Thanks! That was indeed the issue -- my algorithm was missing rows for certain timestamps.

[2021-08-02 22:35] #378 closed

[2021-08-31 08:40] markNZed opened #382 "Anaconda stuck Installing pip dependencies: -"
Using "conda env create" with latest Anaconda on MacOS it stalls at the "Installing pip dependencies" step. I'm new to Anaconda but I thought it was intended to avoid exactly this problem :( Adding --verbose or --debug does not provide any information while it shows a spining bar on the command line.

Commenting out the following line in environment.yml
`- -e .`
Then after running conda in a proje

[2021-09-30 12:12] breznak commented on #382
This seems like OS / conda problem, not the HtmDetector per se. I'd suggest closing this, if any work on this is still needed, please reopen.

[2021-10-23 09:14] markNZed opened #383 "Notebook scripts/Plot Result - numenta.ipynb"
I needed to make this change for the notebook to run without error:

-    "if not summaryDataFrame.index.contains(detector_summary_row):\n",
+    "if not summaryDataFrame.index.str.contains(detector_summary_row, na=False).any():\n",

[2021-10-27 10:48] markNZed opened #384 "Should time series have regular sample periods?"
Consider the attached example of time series realTraffic/speed_6005 and we can see a straight line that reflects the following data points, starting line 700:

2015-09-04 22:34:00,88
2015-09-04 22:41:00,92
2015-09-08 10:44:00,94
2015-09-08 10:49:00,94

Notice the time step goes from 5-10 minutes to 4 days and back again.

This is not indicated as an anomaly, nor does the Numenta detector indicate

[2021-11-01 15:44] markNZed opened #385 "Erroneous window"
The first anomaly in realAWSCloudwatch/iio_us-east-1_i-a2eb1cd9_NetworkIn.csv occurs at 2013-10-10 09:35:00 https://github.com/numenta/NAB/blob/2fafea9c37e250edf5281d7f23627dc5e4ebfcac/labels/combined_labels.json#L78 but the window starts at 2013-10-10 10:35:00 https://github.com/numenta/NAB/blob/2fafea9c37e250edf5281d7f23627dc5e4ebfcac/labels/combined_windows.json#L168 The label for the window ar

[2021-11-03 09:40] markNZed opened #386 "Is Numenta accepting PR and new algorithm submissions to NAB?"
I have an anomaly detector that I would like to submit, is Numenta still accepting new submissions?

[2021-11-04 15:53] subutai commented on #386
Hi,

Yes, we are. The submitter will need to sign the [Contributor's License](https://numenta.com/contributor-license) and meet [these requirements](https://github.com/numenta/NAB/wiki/NAB-Contributions-Criteria).

Thanks!

[2021-11-04 17:28] markNZed commented on #386
Hi, it makes sense that changes to NAB need a contributors license. It is less clear about the actual detector, it seems strange to grant Numenta commercial rights to the intellectual property of all the detectors submitted. I guess Numenta does not have those rights for several of the detectors included in the scoreboard? Is there a way to submit a new detector with a typical open source license

[2021-11-05 20:08] subutai commented on #386
Hi, signing a contributor's license is pretty standard practice with open source projects. Ours is actually modeled after the [Apache license](https://www.apache.org/licenses/contributor-agreements.html).  Basically in order for us to re-release any code, we need full rights from the contributor to do so.  The contributor of course still retains their rights to do what they want.  All code checked

[2021-11-05 20:10] subutai commented on #386
Is that #385? Unfortunately anything that might change the results requires another version of NAB so that results are exactly comparable in papers. NAB is in "maintenance mode" right now, so we can't really create a new version, no matter how minor, at the current time.

[2021-11-06 12:08] markNZed commented on #386
Yes. There should be a bonus for detectors that find bugs in NAB :) I understand the rationale of keeping the incorrect window. But this penalizes detectors that detect early: instead of +1 for detecting it becomes -1 for not detecting, so quite a big difference.

I think there is a case to be made that this bug does not impact the results of the detectors and only influences how the score is calc

[2021-12-13 22:18] jorgegarcia197 opened #390 "Run NumentaHTM on specific data"
Hi, I am really interesting on implementing an Anomaly Detection application for streaming data, and I came across this repository.
Having said this, I would like to dig further and run de NumentaHTM detector on just a single dataset that resembles the data I have collected for my own project. For this specific case I would like to run the HTM detector on the AWSCloudWatch dataset.

And just wonde

[2021-12-17 14:52] markNZed commented on #390
I believe the NumentaHTM detector uses Python2. The community version might be a better bet for Python 3 https://github.com/htm-community/htm.core You could also run the detector with NumentaHTM Python 2 and NAB in Python 3 - I think that is how it is intended to work at the moment.

[2021-12-17 14:53] markNZed commented on #385
I added a PR for this https://github.com/numenta/NAB/pull/389

[2021-12-17 15:14] markNZed opened #391 "Feature request for future versions of NAB to enable supervised online algorithms"
NAB assumes an unsupervised algorithm i.e. NAB does not provide feedback to the detector about false negatives and false positives. In the case of a false negative, NAB could indicate this mistake at the end of the label window. In the case of a false positive, NAB could immediately indicate the mistake. This addition would not need to impact any of the current detectors - the use of this addition

[2021-12-22 14:48] BluthLeee opened #392 "What is the meaning of the labels folder？"
I did not find the description of the labels folder in the readme file. I don't understand the meaning and difference of the multiple files contained in the folder. Take the Twitter_volume_AAPL.csv file in REALTWEETS as an example. The data marked by AL_lables_v1.0.json, CB_lables_v1.0.json, and SA_lables_v1.0.json are not the same. Which one is the correct manual marking?
Looking forward to your

[2021-12-24 17:14] subutai commented on #392
Please see the [NAB whitepaper](https://github.com/numenta/NAB/wiki#nab-whitepaper) which contains all the details about the files, labeling process, etc.  NAB combines multiple labels from humans to correct for manual errors. Those files are from different human labelers.

[2021-12-24 17:14] #392 closed

[2022-06-01 16:20] markNZed opened #394 "Add NAB to Papers with Code"
This website collects benchmarks and scores, they have a time-series category https://paperswithcode.com/area/time-series In the ML community it seems to be a popular website so it might give a lot more visibility to NAB.

[2022-06-16 03:27] #390 closed

[2022-07-29 11:57] PierrickPochelu opened #395 "KeyError in labeler.py"
https://github.com/numenta/NAB/blob/master/nab/labeler.py line 424

The following code:
[code]
Produces:
`KeyError` to the fact `front` may be a decimal value

 Should be:
[code]

[2022-08-04 06:36] corusm opened #397 "Retrieve Labeled Data"
Searching for some way to get the labels into the datasets. Does [this](https://github.com/numenta/NAB/blob/master/scripts/add_labels_to_data.py) file help with it and if yes, how can I use it?